<div class="container">
  <div class="m-top-30 m-bottom-35 offset-md-3 col-12 col-md-8 offset-lg-3 col-lg-6 relative rtl text-right signup">
    <div class="row">
      <div class="col-12 ">
        <h4>
          للاستمتاع بكل مزايا piksels.tv حمل التطبيق من علي :
          <div class="inline-block width100 text-center m-top-20">
            <a class="black inline-block m-right-10 m-left-10" href="#"><i class="fa fa-android text-lg-center"></i></a>
            <a class="black inline-block m-right-10 m-left-10" href="#"><i class="fa fa-apple text-lg-center"></i></a>
            <span class="block m-top-20 m-bottom-20 text-center">او</span>
            <button class="btn btn-success" (click)="mobileRedirect()">للرجوع للموقع اضغط هنا</button>
          </div>


        </h4>
      </div>

    </div>
  </div>
</div>
