$background:#fff;
header{
  background:$background;
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  position: fixed;
  z-index: 16;
  box-shadow: 3px 3px 9px #e4e2e2;
  top: 0;
  .container-fluid{
    text-align: center;
  }
}
.logo{
  display: inline-block;
}
.logo img{width: 230px;}
.login-btn{
  background: #294fbf;
  border-radius: 6px;
  color: #fff;
  padding: 4px 9px;
  margin-right: 5px;
  border: 1px solid transparent;
  span{
    display: inline-block;
    margin-right: 5px;
  }
  img{
    width: 25px;
  }
}
.register-btn{
  border: 2px solid #ee4a41;
  border-radius: 6px;
  background: #ee4a41;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 10px;
  &:hover{
    background: #fff;
    color: #ee4a41;
    transition: all .3s ease-in-out;
    text-decoration: none;
  }
}
.input-group-append span{
  background: transparent;
  border: 1px solid #bdbdbd;
  cursor: pointer;
  img{
    width: 16px;
  }
}
form input{
  border: 1px solid #bdbdbd;
  border-right: none;
  text-align: right;
  direction: rtl;
  line-height: 25px;
  &:focus{
    box-shadow: none !important;
    border:1px solid #ee4a41 !important;
  }
}
.m-top-7{margin-top: 7px;}
.navbar{display: none}
.navbar-nav{display: block}
.navbar-nav li{width: 100%;float: right;text-align: right;}
.navbar-nav li a{color: #000000;display: block;font-size: 15px;padding: 7px 0;}
.navbar-nav li a img{max-width: 22px;}
.navbar-collapse.in.show{
  height: 500px !important;
  overflow: scroll !important;
}
.navbar-collapse h5{
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}
@media screen and (max-width: 992px) {
  header .logo {width: 200px;}
  header .logo img{max-width: 100%;}
  .desktop-container{display: none}
  .navbar{display: block;padding: 0;}
  .navbar-header{width: 100%;display: inline-block}
  .navbar-toggle{
    float: right;
    position: relative;
    top: 15px;
    background: #203f97;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
  .navbar-brand{float: left}
  .navbar-brand  img{width: 100px;position: relative;top:5px;}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .input-group-append input{width: 100px;}
}
