<header>
  <div class="container-fluid">
    <div class="float-left m-top-35" *ngIf="!authService.isAuthenticated()">
      <a class="float-left login-btn" routerLink="/login/"><span>تسجيل دخول</span><img src="./assets/images/key.png"></a>
      <a class="float-left register-btn" routerLink="/register/">اشترك الان</a>
    </div>
    <div class="float-left m-top-35" *ngIf="authService.isAuthenticated()">
      <div class="float-left">
        <app-profile-menu></app-profile-menu>
      </div>
      <div class="float-left m-left-20">
        <a class="black side-icons" routerLink="/settings" [queryParams]="{tab: 'upload' }" routerLinkActive="active-link">
          <img class="normal" src="../../assets/images/upload-icon.png">
          <img class="hovered" src="../../assets/images/upload-icon-hover.png">
          <span>اضافة</span>
        </a>
      </div>
      <div class="float-left m-left-10">
        <a class="black side-icons" routerLink="/settings" [queryParams]="{tab: 'revenue' }" routerLinkActive="active-link">
          <img class="normal" src="../../assets/images/statistics-icon.png">
          <img class="hovered" src="../../assets/images/statistics-icon-hover.png">
          <span>احصائيات</span>
        </a>
      </div>
      <!--<a class="float-left register-btn out" routerLink="/" (click)="logout($event);$event.preventDefault()">الخروج</a>-->
      <!--<a class="float-left register-btn m-left-10 out" routerLink="/settings" >الملف الشخصي</a>-->
    </div>
    <div class="logo">
      <a routerLink="/">
        <img src="./assets/images/logo.png">
      </a>
    </div>
    <div class="float-right m-top-35">
      <form>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              <fa-icon [icon]="searchIcon"></fa-icon>
            </span>
          </div>
          <input type="text" class="form-control" aria-label="Small" placeholder="ابحث هنا" aria-describedby="inputGroup-sizing-sm">
        </div>
      </form>
    </div>
  </div>
</header>

