<footer class="width100 inline-block bg-dark">
  <div class="container">
    <p class="pull-right margin-0 text-white">
      جميع الحقوق محفوظة لبيكسلز
    </p>
    <div class="pull-left">
      <a href="#" class="text-white inline-block m-right-15">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="text-white inline-block m-right-15">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="text-white inline-block m-right-15">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
