<footer class="rtl width100 inline-block ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xl-2"></div>
      <div class="col-12 col-lg-8 col-xl-8">
        <p class="pull-right margin-0 text-white">
          جميع الحقوق محفوظة لبيكسلز
          -
          <a routerLink="/privacy-policy" class="text-white">privacy-policy</a>
        </p>
        <div class="pull-left">
          <a href="#" class="text-white inline-block m-right-15">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#" class="text-white inline-block m-right-15">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="text-white inline-block m-right-15">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>


  </div>
</footer>
<div class="disclaimer" *ngIf="enable_cookie == false">
  <strong class="text-white">
    This website uses cookies to ensure you get the best experience on our website. <a class="text-white" routerLink="privacy-policy">Learn more</a>
    <div class="actions pull-right inline-block">
      <span class="pull-right span-btn" (click)="cookieClick(true)">accept</span>
      <span class="pull-right span-btn" (click)="cookieClick(false)">reject</span>
    </div>

  </strong>
</div>
