footer{
  background-color: #11141c!important;
  position: absolute;
  bottom: 0px;
  height: 70px;
  line-height: 70px;
}
.disclaimer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  background: #000;
  padding: 10px;
  line-height: 30px;
}
.span-btn {
  background: #ffc107;
  color: #000;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 3px;
  cursor: pointer;
}
