<div class="row margin-0">
  <div class="col col-lg-2">
    <div class="m-top-35 custom-top">
      <img class="max-width-100" src="./assets/images/test-image.png">
    </div>
  </div>
  <div class="col-12  col-lg-7 col-xl-8 rtl text-right m-top-35" id="main">
    <app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
    <div *ngIf="!loading" class="main-section">
      <h5 class="text-center" *ngIf="total == 0">لا يوجد مبدعون</h5>
      <div *ngIf="total > 0">
        <h5 class="m-bottom-20">المبدعون</h5>
        <div class="row m-top-10">
          <div *ngFor="let creator of data | paginate: { itemsPerPage: limit, currentPage: current_page, totalItems: total }" class="col-12 col-md-6 m-bottom-20">
            <div class="bg-white new-creator-item no-shadow">

              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-4 padding-right-0">
                    <a routerLink="/creator/{{creator._id}}">
                      <img src="{{staticEndPoint}}{{creator.avatar}}">
                    </a>
                  </div>
                  <div class="col-12 col-md-8">
                    <div (click)="followCreator(creator)" class="follow-holder">
                      <img src="./assets/images/new-icons/follow.png">
                      <span *ngIf="!creator.is_followed">متابعة</span>
                      <span *ngIf="creator.is_followed">الغاء متابعة</span>
                    </div>
                    <a routerLink="/creator/{{creator._id}}">
                      <h6 class="m-top-20 black text-right bold">{{creator.title}}</h6>
                      <h6 class="m-top-10 black text-right thin-color">{{creator.job}}</h6>
                    </a>
                    <div class="row">
                      <div class="col-12 rtl text-right extra-creator-details">
                        <div class="inline-block m-left-25">
                          <img src="../../../assets/images/new-icons/exit.png">
                          <span class="inline-block black m-right-10 small">{{creator.counter.likes}} متابعين</span>
                        </div>
                        <div class="inline-block">
                          <img src="../../../assets/images/new-icons/video_cam.png">
                          <span class="inline-block black m-right-10 small">{{creator.counter.videos}} فيديو</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>


        </div>
        <pagination-controls (pageChange)="pageChanged($event)" previousLabel=""
                             nextLabel=""
                             screenReaderPageLabel="صفحة"
                             screenReaderCurrentLabel="انت الان في صفحة "></pagination-controls>
      </div>


    </div>

  </div>
  <div class="col col-lg-3 col-xl-2">
    <app-side-menu></app-side-menu>
  </div>
</div>
