:host ::ng-deep .ngx-pagination{text-align: center;direction: ltr;padding-left: 0;}
:host ::ng-deep .ngx-pagination .pagination-next.disabled,
:host ::ng-deep .ngx-pagination .pagination-previous.disabled
{color: #b9b9b9}
:host ::ng-deep .ngx-pagination li{
  background: #fff;
  margin: 0 4px;
}
:host ::ng-deep  .ngx-pagination .current{
  color: #fff;
  background: #697d92;
}
:host ::ng-deep  .ngx-pagination li.pagination-next{color: #000;background: #ffffff}
:host ::ng-deep  .ngx-pagination li.pagination-previous{color: #000;background: #ffffff}
:host ::ng-deep  .ngx-pagination .pagination-next a::after,:host ::ng-deep .ngx-pagination .pagination-next.disabled::after{
  content: '>';
}
:host ::ng-deep  .ngx-pagination .pagination-previous a::before,:host ::ng-deep .ngx-pagination .pagination-previous.disabled::before{
  content: '<';
}
.main-section{
  //background: #f4f4f4;
  padding: 15px;
}
.custom-top{margin-top: 185px}
.home-more-views .video-playlist-home{
  padding-right: 0;
  padding-left: 7px;
}
@media screen and (max-width: 992px){
  .custom-top{text-align: center;margin-top: 50px}
}
@media screen and (max-width: 575px){
  .home-more-views .video-playlist-home{
    padding-left: 0;
  }
}
/* adnan */
.page-title{
  margin-right: -15px;
}
.filtered{
  border-bottom: 1px solid #dcdfe5;
  transition: transform 0.26s ease;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  &.open{
    transform: scaleY(1);
    height: auto;
  }
  &.closed{
    transform: scaleY(0);
    transform-origin: top;
    height: 0;
  }
  strong{
    border-bottom: 1px solid #7f7f7f;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    li{
      font-size: 13px;
      cursor: pointer;
      &.active{
         font-weight: bold;
      }
    }
  }
}
.page_title{
  border-bottom: 1px solid #6b6b71;
}
.list-style{
  list-style-type: inherit !important;
}
.filter-title{
  color: #203880;
  font-size: 20px;
  font-weight: bold;
}

