.creator-container{
  background: #f1f1f1;
}
.cover{height: 200px;overflow: hidden}
.cover img{min-height: 200px;}
.avatar{
  img{
    width: 100px;
    height: 100px;
    border:2px solid #eee;
    border-radius: 50%;
    margin-top: -6%;
  }
}
#main{
  padding-right: 10px;
}
:host ::ng-deep .carousel{right: 100px}
.custom-width{margin: 0;display: none}
slide{margin-bottom: 40px}
.first_slide{
  .custom-width:nth-child(1),
  .custom-width:nth-child(2),
  .custom-width:nth-child(3),
  .custom-width:nth-child(4){margin-bottom: 20px;display: block;}
}
.second_slide{
  .custom-width:nth-child(5),
  .custom-width:nth-child(6),
  .custom-width:nth-child(7),
  .custom-width:nth-child(8){margin-bottom: 20px;display: block;}
}
.third_slide{
  .custom-width:nth-child(9),
  .custom-width:nth-child(10),
  .custom-width:nth-child(11),
  .custom-width:nth-child(12){margin-bottom: 20px;display: block;}
}

:host ::ng-deep .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #afafaf;
}
:host ::ng-deep  .carousel-indicators .active {
  background-color: #ef423c;
}
:host ::ng-deep .carousel-control-next,
:host ::ng-deep .carousel-control-prev{
  color: #ef423c;
  opacity: 1;
  top: -120px;
}
:host ::ng-deep .carousel-control-next {
  right: -13%;
  cursor: pointer;
}
:host ::ng-deep .carousel-control-prev {
  left: 4%;
  cursor: pointer;
}
:host ::ng-deep .carousel-control-prev-icon{
  background-image: url("../../assets/images/prev.png");
  width: 30px;
  height: 30px;
}
:host ::ng-deep .carousel-control-next-icon{
  background-image: url("../../assets/images/next.png");
  width: 30px;
  height: 30px;
}
.about-title {
  background: #fff;
  display: inline-block;
  padding: 15px 10px;
  margin-bottom: 0;
}
.about-details{
  background: #fff;
  padding: 40px 30px 20px 30px;
  > div{
   margin-bottom: 20px;
  }
  strong{
    margin-left: 20px;
  }
}
.about-desc {
  height: 120px;
  overflow: hidden;
}
.about-social {
  margin-bottom: 0 !important;
  a{
    color: #000;
    display: inline-block;
    margin: 0 7px;
    transition: all .7s;
  }
  a:hover{
    color: red;
  }
}
.counter{
  position: absolute;
  left: 30px;
  .followers , .likes {
    background: #dddddd;
    padding: 0 5px;
    text-align: center;
    color: red;
    margin-bottom: 10px;
  }
}
.custom-player-icon {
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
  display: inline-block;
  font-size: 14px;
}
:host ::ng-deep .carousel-indicators{
  padding-right: 0;
  right:-18%;
}
@media screen and (min-width: 1200px) and (max-width: 1500px){
  :host ::ng-deep .carousel {
    right: 80px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
  .counter{left: 0}
  .about-details strong{margin-left: 5px;}
  :host ::ng-deep .carousel {
    right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .counter{left: 0}
  .about-details strong{margin-left: 5px;}
}
@media screen and (max-width: 992px){
  :host ::ng-deep .carousel{right: 0}
  :host ::ng-deep .carousel-control-next, :host ::ng-deep .carousel-control-prev{display: none}
  .avatar img{
    margin-top: -70px;
  }
}
@media screen and (max-width: 768px){
  .cover{height: 125px;overflow: hidden}
  .cover img{min-height: 125px;}
  :host ::ng-deep .carousel-indicators{right:0;}
  .about-details{padding: 20px 10px 20px;}
  .about-details > div{
    left: 10px;
  }
}
