<div class="row margin-0">
  <div class="col col-lg-9 col-xl-10 col-12" id="main">
    <div class="row margin-0">
      <div class="col col-lg-12 col-xs-12 text-center m-top-20 m-bottom-20  mid-ad">
        <img src="./assets/images/ad.png">
      </div>
      <app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
      <div class="m-top-5 rtl text-right creator-container width100 home-more-views">
        <div *ngIf="!loading">

          <div class="row margin-0">
            <div class="col-xs-12 col-md-8 col-lg-8 col-xl-9">
              <div>
                <div class="cover">
                  <img class="width100" src="{{staticEndPoint}}{{creator.cover}}">
                </div>
                <div class="avatar text-center">
                  <img src="{{staticEndPoint}}{{creator.avatar}}">
                  <h6 class="bold">{{creator.title}}</h6>
                  <h6 *ngIf="creator.job" class="text-gray">{{creator.job}}</h6>
                  <h6 *ngIf="!creator.job" class="text-gray">-</h6>
                </div>
              </div>
              <h6 class="m-right-5 m-bottom-20 inline-block bold">مضاف حديثا</h6>
              <div class="pull-left all-videos">
                <a class="red" routerLink="/creator-videos" [queryParams]="{page : 'creator_views','key':creator.title,'key_id':creator._id}">عرض الفيديوهات</a>
              </div>
              <app-loading [error]="errorLatestVideos" [loading]="loadingLatestVideos"
                           class="width100 block"></app-loading>
              <h5 class="text-center" *ngIf="!loading && latestVideos && latestVideos.length == 0">لا يوجد فيديوهات</h5>
              <carousel [noWrap]="false" *ngIf="latestVideos && latestVideos.length > 0">
                <slide [ngClass]="{'first_slide':latestVideos.length > 0}" *ngIf="latestVideos.length > 0">
                  <div class="row margin-0">
                    <div class="col-xl-4 col-sm-6 col-xs-12 custom-width relative video-playlist-home new-video-frame"
                         *ngFor="let video of latestVideos;let i=index">
                      <div *ngIf="i < 6" class="bg-white width100 inline-block">


                        <a routerLink="/video/{{video._id}}">
                          <div class="image-container relative">
                            <img *ngIf="video.thumbnails" src="{{staticEndPoint}}{{video.thumbnails.small}}">
                          </div>
                          <div class="padding-right-left-10">
                             <span class="time-ago">
                                {{video.time_ago}}
                              </span>
                            <h3>
                              {{video.title}}
                            </h3>

                          </div>
                        </a>

                        <div class="m-bottom-10 inline-block width100 padding-right-left-10">
                          <div (click)="likeVideo(video)" class="float-right video-extra side-likes pointer relative custom-padding-left">
                            <div class="heart" [ngClass]="{'liked':video.is_liked}"></div>
                            <span class="video-likes" *ngIf="video.counter">{{video.counter.likes || 0  | number:'1.'}}</span>
                            <span class="m-right-5 m-left-5">اعجاب</span>
                          </div>
                          <div (clickOutside)="video.share=false" class="float-right video-extra side-share pointer relative">
                            <div (click)="video.share=!video.share">
                              <img class="" [src]="'./assets/images/new-icons/share.png'">
                              <span class="m-right-5 m-left-5">مشاركة</span>
                            </div>
                            <div [ngClass]="{'none':!video.share}" class="share-area share">
                              <share-buttons [theme]="'circles-dark'"
                                             [include]="['facebook','twitter','google','whatsapp','messenger']"
                                             [show]="5"
                                             [title]="video.title"
                                             [description]="video.title"
                                             [autoSetMeta]="true"
                                             [url]="AppSettings.getShareEndpoint()+'video/'+video._id"
                              ></share-buttons>
                            </div>
                          </div>

                          <div class="float-right video-extra side-view">
                            <img class="m-left-5 m-right-5" [src]="'./assets/images/new-icons/views.png'">
                            <span class="video-likes" *ngIf="video.counter">{{video.counter.views | number:'1.'}}</span>
                            <span class="m-right-5 m-left-5">مشاهدة</span>
                          </div>

                          <div class="float-left m-right-5 video-extra-more">
                            <img [src]="'./assets/images/new-icons/more.png'">
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                </slide>
                <slide [ngClass]="{'second_slide':latestVideos.length >= 7}" *ngIf="latestVideos.length >= 7">
                  <div class="row margin-0">
                    <div class="col-xl-4 col-sm-6 col-xs-12 custom-width relative video-playlist-home new-video-frame"
                         *ngFor="let video of latestVideos;let i=index">
                      <div *ngIf="i >= 6 && i <12" class="bg-white width100 inline-block">

                        <a routerLink="/video/{{video._id}}">
                          <div class="image-container relative">
                            <img *ngIf="video.thumbnails" src="{{staticEndPoint}}{{video.thumbnails.small}}">
                          </div>
                          <div class="padding-right-left-10">
                            <span class="time-ago">
                                {{video.time_ago}}
                              </span>
                            <h3>
                              {{video.title}}
                            </h3>

                          </div>
                        </a>

                        <div class="m-bottom-10 inline-block width100 padding-right-left-10">
                          <div (click)="likeVideo(video)" class="float-right video-extra side-likes pointer relative custom-padding-left">
                            <div class="heart" [ngClass]="{'liked':video.is_liked}"></div>
                            <span class="video-likes" *ngIf="video.counter">{{video.counter.likes || 0  | number:'1.'}}</span>
                            <span class="m-right-5 m-left-5">اعجاب</span>
                          </div>
                          <div (clickOutside)="video.share=false" class="float-right video-extra side-share pointer relative">
                            <div (click)="video.share=!video.share">
                              <img class="" [src]="'./assets/images/new-icons/share.png'">
                              <span class="m-right-5 m-left-5">مشاركة</span>
                            </div>
                            <div [ngClass]="{'none':!video.share}" class="share-area share">
                              <share-buttons [theme]="'circles-dark'"
                                             [include]="['facebook','twitter','google','whatsapp','messenger']"
                                             [show]="5"
                                             [title]="video.title"
                                             [description]="video.title"
                                             [autoSetMeta]="true"
                                             [url]="AppSettings.getShareEndpoint()+'video/'+video._id"
                              ></share-buttons>
                            </div>
                          </div>

                          <div class="float-right video-extra side-view">
                            <img class="m-left-5 m-right-5" [src]="'./assets/images/new-icons/views.png'">
                            <span class="video-likes" *ngIf="video.counter">{{video.counter.views | number:'1.'}}</span>
                            <span class="m-right-5 m-left-5">مشاهدة</span>
                          </div>

                          <div class="float-left m-right-5 video-extra-more">
                            <img [src]="'./assets/images/new-icons/more.png'">
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                </slide>

              </carousel>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 col-xl-3">
              <div class="row margin-0">
                <div class="bg-white width100 border-radius">
                  <div class="about-details relative">
                    <h5 class="bold m-bottom-20">عن المبدع</h5>
                    <div>
                      <span class="inline-block">الاسم : </span>
                      <span class="inline-block m-right-10">{{creator.title}}</span>
                    </div>
                    <div>
                      <span class="inline-block">البلد : </span>
                      <span class="inline-block m-right-10">{{creator.country}}</span>
                    </div>
                    <div>
                      <span class="inline-block">السن : </span>
                      <span class="inline-block m-right-10">{{creator.age}}</span>
                    </div>
                    <p class="about-desc">
                      {{creator.description}}
                    </p>
                    <div class="width100 inline-block">
                      <div class="float-right top-video-follow-section">
                        <div (click)="followCreator(creator)" class="follow-holder">
                          <img src="../../assets/images/new-icons/follow.png">
                          <span *ngIf="!creator.is_followed">متابعة</span>
                          <span *ngIf="creator.is_followed">الغاء متابعة</span>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="width100 inline-block">
                    <div class="col-12 rtl text-right extra-creator-details">
                      <div class="inline-block m-left-25">
                        <img src="../../assets/images/new-icons/exit.png">
                        <span class="inline-block black m-right-10 small">{{creator.counter.likes}} متابعين</span>
                      </div>
                      <div class="inline-block pull-left">
                        <img src="../../assets/images/new-icons/video_cam.png">
                        <span class="inline-block black m-right-10 small">{{creator.counter.videos}} فيديو</span>
                      </div>
                    </div>
                  </div>


                  <div class="about-social text-center">
                    <a *ngIf="creator.social.google" href="{{creator.social.google}}" target="_blank">
                      <i class="fa fa-google"></i>
                    </a>
                    <a *ngIf="creator.social.instagram" href="{{creator.social.instagram}}" target="_blank">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="creator.social.twitter" href="{{creator.social.twitter}}" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a *ngIf="creator.social.facebook" href="{{creator.social.facebook}}" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>

                  </div>

                </div>


              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="col col-lg-2"></div>
    </div>
  </div>
  <div class="col col-lg-3 col-xl-2">
    <app-side-menu></app-side-menu>
  </div>

  <div class="col-12 col-lg-9 col-xl-12 text-center m-top-20 m-bottom-20  mid-ad">
    <img src="./assets/images/ad.png">
  </div>
  <div class="width100 inline-block" *ngIf="!loading">
    <app-creator-videos class="width100 inline-block" [creatorId]="creator._id"></app-creator-videos>
  </div>

</div>

