.creator-container{
  //background: #f1f1f1;
}
.cover{height: 250px;overflow: hidden;position: relative}
.cover:after{
  content:"";
  background: rgba(255,255,255,.78);
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
}
.cover img{min-height: 250px;}
.avatar{
  margin-top: -180px;
  margin-bottom: 50px;
  position: relative;
  img{
    width: 100px;
    height: 100px;
    border:2px solid #eee;
    border-radius: 50%;
  }
}
.text-gray{
  color: #8e8282;
}
#main{
  padding-right: 10px;
}
:host ::ng-deep .carousel{text-align: center;}
.custom-width{margin: 0;display: none}
slide{margin-bottom: 40px}
.first_slide{
  .custom-width:nth-child(1),
  .custom-width:nth-child(2),
  .custom-width:nth-child(3),
  .custom-width:nth-child(4),
  .custom-width:nth-child(5),
  .custom-width:nth-child(6){margin-bottom: 20px;display: block;}
}
.second_slide{
  .custom-width:nth-child(7),
  .custom-width:nth-child(8),
  .custom-width:nth-child(9),
  .custom-width:nth-child(10),
  .custom-width:nth-child(11),
  .custom-width:nth-child(12){margin-bottom: 20px;display: block;}
}
.third_slide{
  //.custom-width:nth-child(9),
  //.custom-width:nth-child(10),
  //.custom-width:nth-child(11),
  //.custom-width:nth-child(12){margin-bottom: 20px;display: block;}
}

:host ::ng-deep .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #afafaf;
  display: none;
}
:host ::ng-deep  .carousel-indicators .active {
  background-color: #ef423c;
}
:host ::ng-deep .carousel-control-next,
:host ::ng-deep .carousel-control-prev{
  color: #ef423c;
  opacity: 1;
  bottom: 0;
  position: static;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: auto;
  color: #fff;
  text-align: center;
  display: inline-block;
}
:host ::ng-deep .carousel-control-next {

  cursor: pointer;
}
:host ::ng-deep .carousel-control-prev {
  cursor: pointer;
}
:host ::ng-deep .carousel-control-prev-icon{
  background-image: url("../../assets/images/new-icons/next.png");
  width: 30px;
  height: 30px;
  background-color: #697d92;
  margin:0 5px;
  background-size: 10px 15px;
  border-radius: 5px;
}
:host ::ng-deep .carousel-control-next-icon{
  background-image: url("../../assets/images/new-icons/prev.png");
  width: 30px;
  height: 30px;
  background-color: #697d92;
  margin:0 5px;
  background-size: 10px 15px;
  border-radius: 5px;
}
.about-title {
  background: #fff;
  display: inline-block;
  padding: 15px 10px;
  margin-bottom: 0;
}
.about-details{
  padding: 60px 17% 20px 17%;
  box-sizing: content-box;
  > div{
   margin-bottom: 20px;
  }
  strong{
    margin-left: 20px;
  }
}
.about-desc {
  height: 120px;
  overflow: hidden;
}
.about-social {
  margin-bottom: 0 !important;
  a{
    color: #000;
    display: inline-block;
    margin: 20px 10px;
    transition: all .7s;
  }
  a:hover{
    color: red;
  }
}
.counter{
  position: absolute;
  left: 30px;
  .followers , .likes {
    background: #dddddd;
    padding: 0 5px;
    text-align: center;
    color: red;
    margin-bottom: 10px;
  }
}
.custom-player-icon {
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
  display: inline-block;
  font-size: 14px;
}
:host ::ng-deep .carousel-indicators{
  padding-right: 0;
  right:-18%;
}
.follow-holder {
  border: 1px solid #c14948;
  padding: 3px 5px;
  margin-top: 8px;
  color: #c14948;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
  user-select: none;
  img {
    width: 20px;
    margin-left: 10px;
  }
  &:hover {
    background: #c14948;
    color: #fff;
  }
}
.extra-creator-details{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  padding: 10px 30px 10px 30px;
  img{width: 15px;}
}
.carousel-item{min-height: 620px}
.all-videos{
  font-weight: bold;
  a{
    text-decoration: underline;
  }
}
.red{
  color: #ff0200;
  text-decoration: none !important;
}
@media screen and (min-width: 1200px) and (max-width: 1500px){
  :host ::ng-deep .carousel {
    //right: 80px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
  .counter{left: 0}
  .about-details strong{margin-left: 5px;}
  :host ::ng-deep .carousel {
    //right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .counter{left: 0}
  .about-details strong{margin-left: 5px;}
}
@media screen and (max-width: 992px){
  :host ::ng-deep .carousel{right: 0}
  //:host ::ng-deep .carousel-control-next, :host ::ng-deep .carousel-control-prev{display: none}
  .avatar img{
    //margin-top: -70px;
  }
}
@media screen and (max-width: 768px){
  .cover{height: 175px;overflow: hidden}
  .cover img{min-height: 175px;}
  :host ::ng-deep .carousel-indicators{right:0;}
  .about-details{padding: 20px 10px 20px;}
  .about-details > div{
    left: 10px;
  }
  .avatar {
    margin-top: -140px;
    img{
      width: 70px;
      height: 70px;
    }
  }

}
@media screen and (max-width: 1200px){
  .extra-creator-details{padding: 10px;}
}
