<div class="row margin-0">
  <div class="col col-lg-2">
    <div class="custom-top rtl text-right">
      <app-side-more-views></app-side-more-views>

    </div>
  </div>
  <div class="col col-lg-8 col-xs-12" id="main">
    <div class="row margin-0">
      <div class="col col-lg-12 col-xs-12 text-center m-top-20 m-bottom-20  mid-ad">
        <img src="./assets/images/ad.png">
      </div>

      <app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>

      <div *ngIf="!loading" class="width100 inline-block rtl text-right">
        <tabset>
            <tab id="favorites" [active]="selected=='favorites'"  (select)="onSelect($event)">
              <ng-template tabHeading>
                <i class="fa fa-heart-o inline-block m-left-10" aria-hidden="true"></i>
                <span>المفضلات</span>
              </ng-template>
              <div *ngIf="selected=='favorites'">
                <app-favorites></app-favorites>
              </div>
            </tab>

            <tab id="followers" [active]="selected=='followers'" (select)="onSelect($event)">
              <ng-template tabHeading>
                <i class="fa fa-user-plus inline-block m-left-10" aria-hidden="true"></i>
                <span>المتابعات</span>
              </ng-template>
              <div *ngIf="selected=='followers'">
                <app-followers></app-followers>
              </div>
            </tab>

            <tab id="profile" [active]="selected=='profile'" (select)="onSelect($event)">
            <ng-template tabHeading>
              <i class="fa fa-cog inline-block m-left-10" aria-hidden="true"></i>
              <span>الاعدادات</span>
            </ng-template>
            <div *ngIf="selected=='profile'">
              <app-profile></app-profile>
            </div>
          </tab>

            <tab id="revenue" [active]="selected=='revenue'" *ngIf="user.is_creator == 1" (select)="onSelect($event)">
            <ng-template tabHeading>
              <i class="fa fa-dollar inline-block m-left-10" aria-hidden="true"></i>
              <span>الارباح</span>
            </ng-template>
            <div *ngIf="selected=='revenue'">
              <app-revenue></app-revenue>
            </div>
          </tab>

            <tab id="upload" [active]="selected=='upload'" *ngIf="user.is_creator == 1" (select)="onSelect($event)">
            <ng-template tabHeading>
              <i class="fa fa-cloud-upload inline-block m-left-10" aria-hidden="true"></i>
              <span>اضافة</span>
            </ng-template>
            <div *ngIf="selected=='upload'">
              <app-upload-video></app-upload-video>
            </div>
          </tab>

          <tab id="my-videos" [active]="selected=='my-videos'" *ngIf="user.is_creator == 1" (select)="onSelect($event)">
            <ng-template tabHeading>
              <i class="fa fa-youtube-play inline-block m-left-10" aria-hidden="true"></i>
              <span>فيديوهاتي</span>
            </ng-template>
            <div *ngIf="selected=='my-videos'">
              <app-my-videos></app-my-videos>
            </div>
          </tab>





        </tabset>
      </div>

    </div>

  </div>
  <div class="col col-lg-2">
    <app-side-menu></app-side-menu>
  </div>
</div>

<div class="rtl text-right">
  <app-recommended-videos></app-recommended-videos>
</div>

