<div class="container-fluid home-more-views m-top-20 ">
  <div class="row">
    <div class="col-lg-3 col-xl-2">

    </div>
    <div class="col-12 col-lg-7 col-xl-8 bottom-border">
      <div class="row margin-0">
        <h6 class="bold m-bottom-20">الاكثر مشاهدة</h6>
        <app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
      </div>
      <div class="row margin-0">
        <div class="col-12 col-sm-6 col-md-3 col-xs-12 relative video-playlist-home" *ngFor="let video of videos">
          <a routerLink="/video/{{video._id}}">
            <span *ngIf="video.categories && video.categories[0]" class="category-span" [ngStyle]="{'background-color':video.categories[0].color}">{{video.categories[0].title}}</span>
            <div class="image-container relative">
              <img *ngIf="video.thumbnails" src="{{staticEndPoint}}{{video.thumbnails.small}}">
              <span class="player-icon">
                <i class="fa fa-play" aria-hidden="true"></i>
              </span>
            </div>
            <h3>
              {{video.title}}
            </h3>
            <div>
              <div class="float-left">
                <i [ngClass]="{'fa-heart': video.is_liked,'fa-heart-o': !video.is_liked}" class="m-left-5 fa" aria-hidden="true"></i>
                <span class="video-likes" *ngIf="video.counter">{{video.counter.likes | number:'1.'}}</span>
              </div>
              <div class="float-right direction-ltr">
                <span class="m-right-5 video-date">{{video.date}}</span>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
    <div class="col col-lg-2 text-center">
      <div class="m-top-35">
        <img class="max-width-100" src="./assets/images/test-image.png">
      </div>
    </div>

  </div>
</div>
