.signup {
  background: #fff;
  margin-top: 90px;
}
.signup-side-title {
  color: #3d5fc1;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}
.signup-side-main-desc {
  font-weight: bold;
  color: #717070;
  font-size: 13px;
  margin-bottom: 5px;
}
.signup-side-small-desc {
  color: #717070;
  font-size: 11px;
}
.breaker {
  position: absolute;
  height: 80%;
  width: 2px;
  background: #ababab;
  top: 15%;
  left: 0;
}
.sign-as-creator-info {
  color: #bfbfbf;
}
@media screen and (max-width: 768px) {
  .signup-side-title{
    margin-top: 10px;
    text-align: center;
  }
  .breaker{display: none;}
  .signup{margin-top: 20px;}
  .main-image{
    max-width: 100%;
    width: auto;
    margin: 20px auto;
    text-align: center;
    display: block;
  }
}
