<div class="container-fluid home-recommended m-top-20 ">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-10">
      <div class="row margin-0 relative">
        <h6 class="bold m-bottom-20">فيديوهات مقترحة</h6>


        <div *ngIf="router.url == '/'" class="btn-group custom-group" style="display: none" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            الاحدث <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">الاقدم</a></li>

          </ul>
        </div>


        <app-loading [error]="error" [loading]="loading" class="block width100"></app-loading>
      </div>
      <div class="row margin-0">
        <div class="col-12 col-sm-6 col-lg-2 relative video-playlist-home" *ngFor="let video of videos">
          <a routerLink="/video/{{video.id}}">
            <span class="category-span" [ngStyle]="{'background-color':video.category.color}">{{video.category.title}}</span>
            <div class="image-container relative">
              <img  src="{{staticEndPoint}}{{video.thumbnails.small}}">
              <span class="player-icon">
                <i class="fa fa-play" aria-hidden="true"></i>
              </span>
            </div>
            <h3>
              {{video.title}}
            </h3>
            <div>
              <div class="float-left">
                <i [ngClass]="{'fa-heart': video.is_liked,'fa-heart-o': !video.is_liked}" class="m-left-5 fa" aria-hidden="true"></i>
                <span class="video-likes">{{video.likes | number:'1.'}}</span>
              </div>
              <div class="float-right direction-ltr">
                <span class="m-right-5 video-date">{{video.date | date: 'dd, MMMM yyyy'}}</span>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>


  </div>
</div>
