<div class="container">
  <div class="m-top-30 m-bottom-35 offset-md-3 col-12 col-md-8 offset-lg-3 col-lg-6 relative rtl text-right signup">
    <h6 class="signup-side-title text-center">تسجيل دخول</h6>
    <p class="signup-side-main-desc">مرحبا بك في موقعنا</p>
    <p class="signup-side-small-desc">من فضلك أدخل البريد الإلكتروني و كلمة السر للدخول</p>
    <div class="row">

      <div class="col-12 col-md-12">
        <form #loginForm="ngForm" novalidate (ngSubmit)="onFormSubmit(loginForm)" autocomplete="off" class="m-top-20">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <input id="email" name="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" type="email" email="true" autocomplete=”off” [(ngModel)]="user.email" required class="form-control" placeholder="البريد الإلكتروني">
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck" name="remember_me" [(ngModel)]="user.remember_me">
                  <label class="form-check-label" for="gridCheck">
                    تذكر كلمة السر
                  </label>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <input id="password" name="password" type="password" autocomplete=”off” [(ngModel)]="user.password" required class="form-control" placeholder="كلمة السر">
              </div>
              <p>
                <a class="forget-link" routerLink="/forget-password">هل نسيت كلمة السر؟  </a>
              </p>
            </div>
          </div>


          <app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
          <button
            type="submit"
            class="btn block submit-btn btn-danger m-bottom-20"
            [disabled]="!loginForm.form.valid || loading">تسجيل الدخول</button>
          <button  (click)="socialSignIn('facebook');$event.preventDefault()" class="btn block submit-btn facebook-btn m-bottom-20">
            login with facebook
            <i class="fa fa-facebook"></i>
          </button>

        </form>
        <h6 class="sign-as-creator-info">ليس لديك حساب؟<a routerLink="/register/visitor"> إنشاء حساب</a></h6>

      </div>
    </div>
  </div>
</div>
