.signup {
  background: #fff;
  margin-top: 90px;
}
.signup-side-title {
  color: #3d5fc1;
  margin-top: 30px;
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.signup-side-main-desc {
  color: #717070;
  font-size: 11px;
  font-weight:bold;
  margin-bottom: 5px;
}
.signup-side-small-desc {
  color: #717070;
  font-size: 11px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
}
.sign-as-creator-info {
  text-align: center;
  color: #060606;
  font-weight: lighter;
}
.sign-as-creator-info a {
  color: #868686 !important;
  font-weight: bold;
}
.submit-btn{
  margin: 30px auto 10px auto;
  display: block;
  min-width: 300px;
}
.forget-link {
  font-size: 12px;
  color: #969696;
  font-weight: bold;
}
.facebook-btn {
  background: #006ccc;
  color: #fff;
  margin-top: 10px !important;
  .fa-facebook{
    color: #006ccc;
    background: #fff;
    width: 15px;
  }
}
@media screen and (max-width: 768px) {
  .signup-side-title{
    margin-top: 10px;
    text-align: center;
  }
  .signup{margin-top: 20px;}
}
@media screen and (max-width: 400px){
  .submit-btn{min-width: 220px;}
}
