<app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>

<div class="container-fluid home-more-views m-top-20" *ngIf="videos">
  <div class="row">
    <div class="col-lg-3 col-xl-2">

    </div>
    <div class="col-xl-8 col-lg-6 col-12">
      <div class="row margin-0">
        <h6 class="bold m-bottom-20">فيديوهات متعلقة</h6>
      </div>
      <div class="row margin-0">
        <h5 class="text-center" style="margin:0 auto" *ngIf="!loading && videos && videos.length ==0">لا يوجد
          فيديوهات</h5>
        <div class="col-md-6 col-xl-4 col-sm-6 col-12 relative video-playlist-home new-video-frame"
             *ngFor="let video of videos">
          <div class="bg-white width100 inline-block">
            <div class="width100 inline-block">
              <div class="padding-right-left-10">
                <div class="float-right top-video-creator-section">
                  <a routerLink="/creator/{{video.creator.id}}">
                    <img class="m-left-10" *ngIf="video.creator" src="{{staticEndPoint}}{{video.creator.avatar}}">
                    <span>{{video.creator.title}}</span>
                  </a>
                </div>
                <div class="float-left top-video-follow-section">
                  <div (click)="followCreator(video)" class="follow-holder">
                    <img src="./assets/images/new-icons/follow.png">
                    <span *ngIf="!video.creator.is_followed">متابعة</span>
                    <span *ngIf="video.creator.is_followed">الغاء متابعة</span>
                  </div>
                </div>
              </div>
            </div>

            <a routerLink="/video/{{video.id}}">
              <div class="image-container relative">
                <img *ngIf="video.thumbnails" src="{{staticEndPoint}}{{video.thumbnails.small}}">

              </div>
              <div class="padding-right-left-10">
                <span class="time-ago">
                  {{video.time_ago}}
                </span>
                <h3>
                  {{video.title}}
                </h3>

              </div>
            </a>

            <div class="m-bottom-10 inline-block width100 padding-right-left-10">
              <div (click)="likeVideo(video)" class="float-right video-extra side-likes pointer relative custom-padding-left">
                <div class="heart" [ngClass]="{'liked':video.is_liked}"></div>
                <span class="video-likes" *ngIf="video.counter">{{video.counter.likes || 0  | number:'1.'}}</span>
                <span class="m-right-5 m-left-5">اعجاب</span>
              </div>
              <div (clickOutside)="video.share=false" class="float-right video-extra side-share pointer relative">
                <div (click)="video.share=!video.share">
                  <img class="m-left-5 m-right-5" [src]="'./assets/images/new-icons/share.png'">
                  <span class="m-right-5 m-left-5">مشاركة</span>
                </div>
                <div [ngClass]="{'none':!video.share}" class="share-area share">
                  <share-buttons [theme]="'circles-dark'"
                                 [include]="['facebook','twitter','google','whatsapp','messenger']"
                                 [show]="5"
                                 [title]="video.title"
                                 [description]="video.title"
                                 [autoSetMeta]="true"
                                 [url]="AppSettings.getShareEndpoint()+'video/'+video.id"
                  ></share-buttons>
                </div>
              </div>

              <div class="float-right video-extra side-view">
                <img class="m-left-5 m-right-5" [src]="'./assets/images/new-icons/views.png'">
                <span class="video-likes" *ngIf="video.counter">{{video.counter.views | number:'1.'}}</span>
                <span class="m-right-5 m-left-5">مشاهدة</span>
              </div>

              <div class="float-left m-right-5 video-extra-more">
                <img [src]="'./assets/images/new-icons/more.png'">
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col col-lg-3  col-xl-2">
      <div class="m-top-35">
        <img class="max-width-100" src="./assets/images/test-image.png">
      </div>
    </div>

  </div>
</div>
