.tab-container{
  direction: rtl;
  text-align: right;
}
:host ::ng-deep .nav-tabs{padding: 0;border-bottom: 0;}
:host ::ng-deep .nav-tabs li a{color: #7f7f7f;font-weight: 400;border: none}
:host ::ng-deep .nav-tabs li.active{}
:host ::ng-deep .nav-tabs li.active a{color: #ef4941;border: none;border-bottom: 1px solid #ef4941;font-weight: bold;background: none}
@media screen and (max-width: 768px) {
  :host ::ng-deep .nav-link{padding: 8px 6px;}
}
@media screen and (max-width: 480px) {
  :host ::ng-deep .nav-link{padding: 8px;}
}
@media screen and (max-width: 400px) {
  :host ::ng-deep .nav-tabs .nav-item{width: 100%;display: inline-block}
}
