:host ::ng-deep .ngx-pagination{text-align: center;direction: ltr;padding-left: 0;}
:host ::ng-deep .ngx-pagination li.pagination-next a,
:host ::ng-deep .ngx-pagination li.pagination-previous a,
:host ::ng-deep .ngx-pagination .pagination-next.disabled,
:host ::ng-deep .ngx-pagination .pagination-previous.disabled
{padding: 13px 15px;display: inline-block}
:host ::ng-deep  .ngx-pagination .current{
  color: #000;
  background: #d7d7d7;
  margin: 0 10px;
}
:host ::ng-deep  .ngx-pagination li.pagination-next{background: #ffffff}
:host ::ng-deep  .ngx-pagination li.pagination-previous{background: #bcbcbc;color: #fff}
:host ::ng-deep .ng2-tags-container{
  width: 100px;
  form, input , .progress-bar{
    width: 100px;
    max-width: 100px;
  }
}
.table thead{
  background: #fff;
  th{
    font-weight: 700;
    text-align: center;
    font-size: 13px;
  }
}
.image-container {
  height: 80px;
  max-width: 140px;
  overflow: hidden;
  display: block;
  img{
    height: 80px;
    width: 110px;
  }
}
.player-icon{
  left: 12px;
}
.table{
  thead th {
    border-left: 1px solid #dee2e6;
  }
  td, .table th{
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }
  td > div{
    max-height: 70px;
    overflow: hidden;
  }
  tr{
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
  }
  textarea {
    background: transparent;
    border-color: transparent;
  }
  .btn {
    font-size: 13px;
    width: 60px;
    padding: 3px 9px;
    margin-bottom: 10px;
  }
  .btn.btn-danger{
    margin-bottom: 0;
  }
}
.group-order {
  .btn-light {
    background: #ffffff;
    border: 1px solid #aeaeaf;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .btn-dark{
    margin-bottom: 10px;
    border-radius: 0;
  }
}

form{
  /* adnan */
  /*overflow-y: scroll;*/
  overflow-y: Auto;
}
td.green{
  //color: #155724;
  //background-color: #d4edda;
  text-align: center;
}
td.green div{
  //color: #155724;
  //background-color: #d4edda;
  border: 1px solid green;
  border-radius: 10%;
  background: green;
  color: #fff;
}
td.red{
  //color: #721c24;
  //background-color: #f8d7da;
  text-align: center;
}
td.red div{
  //color: #721c24;
  //background-color: #f8d7da;
  border: 1px solid red;
  border-radius: 10%;
  background: red;
  color: #fff;
}
td.orange{
  //color: #856404;
  //background-color: #fff3cd;
  text-align: center;
}
td.orange div{
  //color: #856404;
  //background-color: #fff3cd;
  border: 1px solid orange;
  border-radius: 10%;
  background: orange;
  color: #fff;
}
.forbidden{
  cursor: not-allowed;
}
.pointer{
  cursor: pointer;
}
.table-edits{
  padding-right: 5px;
}
