<app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
<div>
  <div *ngIf="!loading && total==0">
    <h4 class="text-center">لا يوجد مفضلات</h4>
  </div>
  <div *ngIf="total>0">
    <form #myVideosForm="ngForm" novalidate autocomplete="off" >
      <div class="group-order">
        <button class="btn btn-light" (click)="toggleCheck()">اجراء جماعي</button>
        <button class="btn btn-dark" (click)="deleteMultiple()">تطبيق</button>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">التاريخ</th>
          <th scope="col">الفيديو</th>
          <th scope="col">العنوان</th>
          <th scope="col">الوصف</th>
          <th scope="col">الوسوم</th>
          <th scope="col">الاجراءات</th>
        </tr>
        </thead>
        <tbody *ngIf="!loading">
        <tr *ngFor="let video of videos | paginate: { itemsPerPage: limit, currentPage: current_page, totalItems: total}">
          <td scope="row"><input type="checkbox" name="checked" [(ngModel)]="video.checked"></td>
          <td>{{video.created_at | date: 'dd MMMM'}}</td>
          <td class="image-container relative" >
            <a routerLink="/video/{{video.id}}">
              <img src="{{staticEndPoint}}/{{video.capturedImageUrl}}">

              <span class="player-icon">
                  <i class="fa fa-play" aria-hidden="true"></i>
                </span>
            </a>
          </td>
          <td>
            <div><a class="black"  routerLink="/video/{{video.id}}">{{video.title}}</a></div>
          </td>
          <td>
            <div>{{video.description}}</div>
          </td>

          <td>
            <div *ngIf="video.tags && video.tags.length > 0">{{video.tags}}</div>
            <div class="text-center" *ngIf="!video.tags || video.tags.length == 0">-</div>
          </td>
          <td>
            <div>
              <button class="btn btn-light">
                <a style="color: #272727;" routerLink="/edit-video/{{video.id}}">
                  <i class="fa fa-edit"></i>
                  <span>تعديل</span>
                </a>
              </button>
            </div>
            <div>
              <button class="btn btn-danger" (click)="deleteVideo(video.id)">
                <i class="fa fa-trash"></i>
                <span>حذف</span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </form>

    <pagination-controls (pageChange)="pageChanged($event)" previousLabel="السابق"
                         nextLabel="التالي"
                         screenReaderPageLabel="صفحة"
                         screenReaderCurrentLabel="انت الان في صفحة "></pagination-controls>
  </div>
</div>
