<div class="container-fluid rtl creator-holder">
  <div class="row">
    <div class="col-lg-2 col-xl-2"></div>
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="row margin-0 relative">
        <div class="col-12">
          <h5 class="bold text-right relative m-top-30 m-bottom-20">تعرف على أبطال الموقع - المبدعون</h5>
          <a routerLink="/creators" class="all-creators pull-left">عرض الكل</a>
        </div>
          <app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
          <div class="row width100 padding-0 margin-0">
            <div *ngFor="let creator of creators" class="col-12 col-sm-6 col-lg-6 m-bottom-20">
              <div class="bg-white new-creator-item">

                <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-md-4 padding-right-0 padding-left-0">
                      <a routerLink="/creator/{{creator._id}}">
                        <img src="{{staticEndPoint}}{{creator.avatar}}">
                      </a>
                    </div>
                    <div class="col-12 col-md-8">
                      <div (click)="followCreator(creator)" class="follow-holder">
                        <img src="./assets/images/new-icons/follow.png">
                        <span *ngIf="!creator.is_followed">متابعة</span>
                        <span *ngIf="creator.is_followed">إلغاء متابعة</span>
                      </div>
                      <a routerLink="/creator/{{creator._id}}">
                        <h6 class="m-top-20 black text-right bold">{{creator.title}}</h6>
                        <h6 class="m-top-10 black text-right thin-color">{{creator.job}}</h6>
                      </a>
                      <div class="row">
                        <div class="col-12 rtl text-right extra-creator-details">
                          <div class="inline-block m-left-25">
                            <img src="../../../assets/images/new-icons/exit.png">
                            <span class="inline-block black m-right-10 small">{{creator.counter.likes}} متابعين</span>
                          </div>
                          <div class="inline-block">
                            <img src="../../../assets/images/new-icons/video_cam.png">
                            <span class="inline-block black m-right-10 small">{{creator.counter.videos}} فيديو</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

