.creator-holder{background: #3747a6;color: #fff}
.creator-holder a{color: #fff;}
.rounded-border {
  width: 140px;
  height: 140px;
  border: 7px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.rounded-border img{
  width: 140px;
  height: 140px;
  max-width: 500px;
}
.left90{left: -90px;}
.image-container{
  position: relative;
  z-index: 1;
}
.rectangle-info{
  background: #fff;
  color: #000000;
  border-radius: 3px;
  padding: 50px 5px 15px 5px;
  top: -50px;
  text-align: center;
  .title{
    font-size: 13px;
    font-weight: 700;
  }
  .job{
    font-size: 11px;
  }
}
.all-creators{
  position: absolute;
  left: 0;
  top: 20px;
  transition: all .3s;
  &:hover {
    background: #6196e4 !important;
    text-decoration: none;
  }
}
.social-hover {
  opacity: 0;
  background: rgba(12, 53, 138, 0.7);
  width: 126px;
  height: 126px;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  transition: all .3s;
  z-index: 2;
  top: 8px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  &:hover{
    opacity: 1;
  }
  a{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 51px 2px 0 2px;
    color: #000;
    border-radius: 50%;
    transition: all .5s;
    &:hover{
    background: #fff;
    }
  }

}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .social-hover {
    left: 5px;
    top: 6px;
    width: 107px;
    height: 107px;
    a{
      width: 20px;
      height: 20px;
    }
  }
  .rounded-border{width: 120px;height: 120px}
  .rounded-border img{width: 120px;height: 120px}
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .left90{left: 0}
}
@media screen and (max-width: 992px){
  .creator-item{
    position: relative;
  }
}

@media screen and (max-width: 768px){
  .left90{left: 0}
}
