<div class="container">
  <div class="m-top-30 m-bottom-35 offset-md-3 col-12 col-md-8 offset-lg-3 col-lg-6 relative rtl text-right signup">
    <div class="row">
      <div class="col-12 col-md-4">
        <img class="width100 m-top-35 m-bottom-10" src="./assets/images/innovation2.png">

        <p class="signup-side-main-desc">لاسترجاع كلمة السر الخاصة بك</p>
        <p class="signup-side-small-desc">من فضلك ادخل البريد الالكتروني ليصلك الكود</p>
        <div class="breaker"></div>
      </div>
      <div class="col-12 col-md-8 m-top-35">
        <form #forgetPasswordForm="ngForm" novalidate (ngSubmit)="onFormSubmit(forgetPasswordForm)" autocomplete="off" class="m-top-20">

          <div class="form-group">
            <input id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="email" email="true" autocomplete=”off” [(ngModel)]="email" required class="form-control" placeholder="البريد الالكتروني">
          </div>


          <app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
          <button
            type="submit"
            class="btn block width100 btn-danger m-bottom-20"
            [disabled]="!forgetPasswordForm.form.valid || loading">ارسل</button>

        </form>

      </div>
    </div>
  </div>
</div>
