.inner-details {
  padding: 0 15px;
  h6 {
    font-weight: bold;
  }
}
a.inner-cat-link {
  color: #fff;
  .inner-cat{
    padding: 0 10px;
  }
}
.creator_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.creator-link{color: #464545;margin: 10px 0;display: inline-block}
.font-12{font-size: 12px;}
.video-title{font-size: 16px;font-weight: bold;line-height: 26px;max-height: 50px}

.fixed-height {
  max-height: 36px;
  overflow: hidden;
  transition: all .3s;
}
.full-height {
  height: auto;
  transition: all .3s
}
.badge{
  background: #d14245;
}
.btn-like{
  border: 1px solid #5d5d5d;
  padding: 0 5px;
  border-radius: 3px;
  background: #ddd;
  cursor: pointer;
}
.btn-liked {
  border: 1px solid #e74c3c;
  padding: 0 5px;
  border-radius: 3px;
  background: #e74c3c;
  cursor: pointer;
  color: #fff;
}
.btn-like .fa-heart {
  color: white;
}
.badge{
  background: #eaeaea !important;
  padding: 6px 10px;
  display: inline-block !important;
  font-size: 13px;
  margin-top: 10px;
  color: #a7a5a5;
}
.time-ago{
  float: left;
  font-size: 11px;
  color: #9a9a9a;
  margin-right: 5px;
  margin-top: 5px;
  font-weight: bold;
}
@media screen and (min-width: 1200px) and (max-width: 1400px){
  .no-padding-right{padding-right: 0}
}
@media screen and (max-width: 992px){
  iframe{height: 300px;}
  .slide{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
  }
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -111%;
  left: -30px;
  background: url('../../assets/images/new-icons/heart-bg.png') no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}
.heart.liked {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
.custom-padding-left{
  padding-left: 48px;
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}


