<div class="row margin-0 rtl text-right">
    <div class="col col-lg-3 col-xl-2">
        <app-side-menu></app-side-menu>
    </div>
    <div class="col-12 col-sm-12 col-xl-8 col-lg-6" id="main">
        <div class="row margin-0" *ngIf="router.url != '/register/visitor'">
            <div class="col-12 col-lg-12 text-center m-bottom-20  mid-ad">
                <img src="./assets/images/ad.png">
            </div>
            <div class="col col-lg-2"></div>
        </div>
        <app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
        <div *ngIf="!loading">
            <div class="relative video-playlist-home new-video-frame">
                <div class="bg-white width100 inline-block">

          <iframe width="100%" webkitallowfullscreen='true' mozallowfullscreen='true' data-native_fullscreen='true'
                  allowfullscreen='true' height="550px" frameBorder="0" [src]="url"></iframe>
          <div class="padding-right-left-10">
            <span class="time-ago">
                  {{video.time_ago}}
            </span>
                        <h3 class="video-title">
                            {{video.title}}
                        </h3>
                        <p>
                            {{video.description}}
                        </p>
                        <div class="m-top-20 m-bottom-20" *ngIf="video && video.tags && video.tags.length > 0">
                            <div class="inline-block m-left-10" *ngFor="let tag of video.tags">
                                <a routerLink="/tags" [queryParams]="{page:'tags','key':tag.title,'key_id':tag.id}"
                                   class="badge">#
                                    {{tag.title}}</a>
                            </div>
                        </div>
                    </div>


                    <div class="m-bottom-10 inline-block width100 padding-right-left-10">
                        <div (click)="likeVideo()"
                             class="float-right video-extra side-likes pointer relative custom-padding-left">
                            <div class="heart" [ngClass]="{'liked':video.is_liked}"></div>
                            <span class="video-likes"
                                  *ngIf="video.counter">{{video.counter.likes || 0 | number:'1.'}}</span>
                            <span class="m-right-5 m-left-5">إعجاب</span>
                        </div>
                        <div (clickOutside)="share=false" class="float-right video-extra side-share pointer relative">
                            <div (click)="share=!share">
                                <img class="" [src]="'./assets/images/new-icons/share.png'">
                                <span class="m-right-5 m-left-5">مشاركة</span>
                            </div>
                            <div *ngIf="share" class="share-area share">
                                <share-buttons [theme]="'circles-dark'"
                                               [include]="['facebook','twitter','google','whatsapp','messenger']"
                                               [show]="5"
                                               [autoSetMeta]="true"
                                ></share-buttons>
                            </div>
                        </div>

                        <div class="float-right video-extra side-view">
                            <img class="m-left-5 m-right-5" [src]="'./assets/images/new-icons/views.png'">
                            <span class="video-likes" *ngIf="video.counter">{{video.counter.views | number:'1.'}}</span>
                            <span class="m-right-5 m-left-5">مشاهدة</span>
                        </div>

            <div class="float-right m-right-5 video-extra-more more-icon">

              <div class="custom-btn-group btn-group" dropdown>
                <img [src]="'./assets/images/new-icons/more.png'" dropdownToggle class="padding-all-10">
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                    <li *ngIf="!video.is_watched" role="menuitem" ><a class="dropdown-item" href="#" (click)="$event.preventDefault();addToWatchLater(video)">اضافة الى المشاهدة لاحقا</a></li>
                    <li *ngIf="video.is_watched" role="menuitem" ><a class="dropdown-item" href="#" (click)="$event.preventDefault();addToWatchLater(video)">ازالة من المشاهدة لاحقا</a></li>
                </ul>
              </div>
            </div>

                    </div>

                    <div class="width100 inline-block  m-top-10 m-bottom-10 border-top-1">
                        <div class="padding-right-left-10">
                            <div class="float-right top-video-creator-section">
                                <a routerLink="/creator/{{video.creator.id}}">
                                    <img class="m-left-10" *ngIf="video.creator"
                                         src="{{staticEndPoint}}{{video.creator.avatar}}">
                                    <span>{{video.creator.title}}</span>
                                </a>
                            </div>
                            <div class="float-left top-video-follow-section">
                                <div (click)="followCreator(video)" class="follow-holder">
                                    <img src="./assets/images/new-icons/follow.png">
                                    <span *ngIf="!video.creator.is_followed">متابعة</span>
                                    <span *ngIf="video.creator.is_followed">إلغاء متابعة</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<iframe width="100%" height="200" class="border-top-1" webkitallowfullscreen='true'-->
                    <!--mozallowfullscreen='true' data-native_fullscreen='true'-->
                    <!--allowfullscreen='true' scrolling="yes" marginheight="0" marginwidth="0" frameBorder="0"-->
                    <!--[src]="facebookURL"></iframe>-->

                    <my-iframe [src]="facebookURL"></my-iframe>

                </div>
            </div>

            <div class="col-12 col-lg-12 text-center m-top-20 m-bottom-20  mid-ad">
                <img src="./assets/images/ad.png">
            </div>
        </div>

    </div>
    <div class="col-12 col-sm-12 col-xl-2 col-lg-3 no-padding-right">
        <div class="m-top-35">
            <div *ngIf="!loading">
                <app-about-creator *ngIf="video.creator && video.creator.id" [creator_id]="video.creator.id"
                                   (onGetCreator)="getCreator($event)"></app-about-creator>
                <div class="text-center">
                    <img class="max-width-100" src="./assets/images/test-image.png">
                </div>

            </div>
        </div>
    </div>


</div>

<div class="rtl text-right">
    <div class="col-md-12" *ngIf="!loading">
        <app-inner-recommended-videos></app-inner-recommended-videos>
        <div class="row">
            <div class="col-lg-3 col-xl-2"></div>
            <div class="col-12 col-lg-6 col-xl-8 text-center m-top-20 m-bottom-20  mid-ad">
                <img src="./assets/images/ad.png">
            </div>
        </div>

        <app-video-more-views></app-video-more-views>
    </div>
</div>
