<div class="row margin-0 rtl text-right">
  <div class="col col-lg-3 col-xl-2">
    <app-side-menu></app-side-menu>
  </div>
  <div class="col-12 col-sm-12 col-xl-8 col-lg-6" id="main">
    <div class="row margin-0" *ngIf="router.url != '/register/visitor'">
      <div class="col-12 col-lg-12 text-center m-top-20 m-bottom-20  mid-ad">
        <img src="./assets/images/ad.png">
      </div>
      <div class="col col-lg-2"></div>
    </div>
    <app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
    <div *ngIf="!loading">
      <iframe width="100%" webkitallowfullscreen='true' mozallowfullscreen='true' data-native_fullscreen='true' allowfullscreen='true' height="550px" frameBorder="0" [src]="url"></iframe>
      <div class="video-details relative">
        <div *ngIf="creator" class="rtl text-right">
          <a class="creator-link" routerLink="/creator/{{creator._id}}">
            <img class="m-left-10 creator_avatar" src="{{staticEndPoint}}{{creator.avatar}}">
            <span>{{creator.title}}</span>
          </a>
        </div>
        <div class="share" (clickOutside)="share=false">
          <img class="mouse-click user-select-none m-bottom-5" (click)="share=!share" src="../../assets/images/share.png">
          <div *ngIf="share" class="share-area">

          </div>
        </div>
        <div class="inner-details rtl text-right">
          <h5 class="video-title">{{video.title}}</h5>
          <p [ngClass]="{'full-height': slide,'fixed-height': !slide}" class="font-12">{{video.description}}</p>
          <div class="slide" >
            <img class="mouse-click user-select-none pull-left" (click)="slide=!slide" src="../../assets/images/more-2.png">
          </div>
        </div>
        <div class="inner-details">
          <div class="other-data user-select-none rtl text-right">
            <a *ngIf="video.categories && video.categories[0]" class="inner-cat-link" routerLink="/category/{{video.categories[0].id}}">
              <span *ngIf="video.categories && video.categories[0]" class="inner-cat" [ngStyle]="{'background-color':video.categories[0].color}" >{{video.categories[0].title}}</span>
            </a>
            <div class="inline-block direction-ltr m-right-10">
              <span class="m-right-5 video-date">{{video.date}}</span>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
            <div class="inline-block m-right-10">
              <i (click)="likeVideo()" class="m-left-5 fa mouse-click" [ngClass]="{'fa-heart': video.is_liked,'fa-heart-o': !video.is_liked}" aria-hidden="true"></i>
              <span class="video-likes" *ngIf="video.counter">{{video.counter.likes | number:'1.'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-12 text-center m-top-20 m-bottom-20  mid-ad">
        <img src="./assets/images/ad.png">
      </div>
    </div>

  </div>
  <div class="col-12 col-sm-12 col-xl-2 col-lg-3 no-padding-right">
    <div class="m-top-35">
      <div *ngIf="!loading">
        <app-about-creator *ngIf="video.creator && video.creator.id" [creator_id]="video.creator.id" (onGetCreator)="getCreator($event)"></app-about-creator>
        <div class="text-center">
          <img class="max-width-100" src="./assets/images/test-image.png">
        </div>

      </div>
    </div>
  </div>


</div>

<div class="rtl text-right">
  <div class="col-md-12" *ngIf="!loading">
    <app-inner-recommended-videos></app-inner-recommended-videos>
  </div>
</div>

