.inner-details {
  padding: 0 15px;
  h6 {
    font-weight: bold;
  }
}
a.inner-cat-link {
  color: #fff;
  .inner-cat{
    padding: 0 10px;
  }
}
.creator_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.creator-link{color: #464545;margin: 10px 0;display: block}
.font-12{font-size: 12px;}
.video-title{font-size: 16px;font-weight: 800;}
