.about-creator-container{
  background: #f3f3f3;
  margin-bottom: 20px;
  padding: 0 10px 10px 10px;
  margin-top: 126px;
}
.creator-img{
  position: relative;
  top:-30px;
  text-align: center;
  img {
    width: 70px;
    height: 70px;
    margin: 0 auto 10px auto;
    display: block;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  p {
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;
  }
}
.about-creator-details{
  text-align: right;
  position: relative;
  top : -30px;
  p{
    font-size : 11px;
    height: 50px;
    overflow: hidden;
  }
  a{
    float: left;
    color: #757575;
    font-size: 13px;
    font-weight: bold;
  }
}
.creator-summary{
  position: absolute;
  background: #dddddd;
  padding: 0 7px;
  top: 30px;
  left: 3px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 1px 2px 3px #867e7e;
  span {
    font-size: 12px;
    margin-right: 3px;
    max-width: 30px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 25px;
  }
  i {
    color: red;
  }
}
.custom-player-icon {
  background: red;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 0px 7px;
  position: relative;
  top: 5px;
  i{
    color: #fff;
  }
}


.like-custom {
  position: relative;
  top: -4px;
  width: 29px;
}
