<app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
<div *ngIf="!loading" class="about-creator-container">
  <div class="creator-img">
    <a class="black" routerLink="/creator/{{creator_id}}">
      <img *ngIf="creator.avatar" src="{{staticEndPoint}}{{creator.avatar}}">
      <p>{{creator.title}}</p>
      <h6>{{creator.job}}</h6>
    </a>
  </div>
  <div class="about-creator-details">

    <p>{{creator.description}}</p>
    <div class="text-center">
      <div (click)="followCreator(creator)" class="inline-block follow-holder">
        <img src="./assets/images/new-icons/follow.png">
        <span *ngIf="!creator.is_followed">متابعة</span>
        <span *ngIf="creator.is_followed">الغاء متابعة</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 rtl text-right extra-creator-details">
        <div class="inline-block m-left-25">
          <img src="../../../assets/images/new-icons/exit.png">
          <span class="inline-block black m-right-10 small">{{creator.counter.likes}} متابعين</span>
        </div>
        <div class="inline-block pull-left">
          <img src="../../../assets/images/new-icons/video_cam.png">
          <span class="inline-block black m-right-10 small">{{creator.counter.videos}} فيديو</span>
        </div>
      </div>
    </div>
  </div>
</div>
