<div class="container-fluid home-more-views m-top-20 rtl text-right">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8 bottom-border">
      <div class="row margin-0">
        <h6 class="bold m-bottom-20">فيديوهات المبدع</h6>
      </div>
      <div class="row">
        <h5 class="text-center" style="margin: 0 auto" *ngIf="!loading && videos && videos.length == 0">لا يوجد فيديوهات</h5>
        <div class="col-md-4 col-sm-6 col-12 relative video-playlist-home" *ngFor="let video of videos">
          <a routerLink="/video/{{video._id}}">
            <span *ngIf="video.categories && video.categories[0]" class="category-span" [ngStyle]="{'background-color':video.categories[0].color}">{{video.categories[0].title}}</span>
            <div class="image-container relative">
              <img *ngIf="video.thumbnails" src="{{staticEndPoint}}{{video.thumbnails.small}}">
              <span class="player-icon">
                <i class="fa fa-play" aria-hidden="true"></i>
              </span>
            </div>
            <h3>
              {{video.title}}
            </h3>
            <div>
              <div class="float-left">
                <i [ngClass]="{'fa-heart': video.is_liked,'fa-heart-o': !video.is_liked}" class="m-left-5 fa" aria-hidden="true"></i>
                <span class="video-likes" *ngIf="video.counter">{{video.counter.likes | number:'1.'}}</span>
              </div>
              <div class="float-right direction-ltr">
                <span class="m-right-5 video-date">{{video.date}}</span>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="m-top-20 m-bottom-20 width100 text-center">
          <app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
          <div *ngIf="!loading && next" (click)="getlatestVideos(true)" class="btn btn-lg btn-dark">
            المزيد
          </div>
        </div>
      </div>

    </div>
    <div class="col col-lg-2">
      <app-side-more-views-for-creator [creator_id]="creatorId" ></app-side-more-views-for-creator>
    </div>

  </div>
</div>
