.category-image{
  max-width: 50px;
}
.category-title{
  color: #666666;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 2px solid #666666;
  margin-bottom: 20px;
  img{
    margin-left: 10px;
  }
}
.img-container a{color: #fff}
.video-container{
  .category-span{
    position: absolute;
    right: 5px;
    top:5px;
    padding: 0 5px;
  }
  .video-span{
    position: absolute;
    bottom: -7px;
    left:0px;
    color: red;
  }
}

.inner-content{
  margin-top: 20px;
  padding: 0 15px;
  a{
    color: #171717;
  }
}
.custom-top{
  margin-top: 120%;
  position: relative;
  left: 70%;
}
.cat-desc{max-height: 47px;overflow: hidden}
.customImg-side-adv img{width: 95%;max-width: 100% }
.category-top-title {
  font-size: 18px;
}
.all-videos{
  margin-top: 12px;
  font-weight: bold;
  a{
    text-decoration: underline;
  }
}
@media screen and (max-width: 992px){
  .custom-top{
    margin-top: 10px;
    position: relative;
    left: 0;
    text-align: center;
  }
  .customImg-side-adv{margin-top: 10px;}
  .customImg-side-adv img{width: auto;margin: 0 auto;display: block}
  .m-bottom-35{margin-bottom: 0}
  .m-top-35 img{text-align: center}

}
