.category-image{
  max-width: 25px;
}
.category-title{
  color: #666666;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
  img{
    margin-left: 10px;
  }
}
.img-container a{color: #fff}
.video-container{
  .category-span{
    position: absolute;
    right: 5px;
    top:5px;
    padding: 0 5px;
  }
  .video-span{
    position: absolute;
    bottom: -7px;
    left:0px;
    color: red;
  }
}

.inner-content{
  margin-top: 20px;
  padding: 0 15px;
  a{
    color: #171717;
  }
}
.custom-top{
  margin-top: 76%;
  position: relative;

}
.cat-desc{max-height: 47px;overflow: hidden}
.customImg-side-adv img{width: 95%;max-width: 100% }
.category-top-title {
  font-size: 18px;
}
.all-videos{
  margin-top: 12px;
  font-weight: bold;
  a{
    text-decoration: underline;
  }
}
.total-show{
  display: inline-block;
  margin: 50px auto 10px auto;
  border: 1px solid #7230c1;
  color: #7230c1;
  padding: 2px 15px;
  border-radius: 3px;
}
.red{
  color: #ff0200;
  text-decoration: none !important;;
}
.badge{
  background: #eaeaea !important;
  padding: 6px 10px;
  display: inline-block !important;
  font-size: 13px;
  margin-top: 10px;
  color: #a7a5a5;
}
.first-video .new-video-frame .video-extra .m-right-5.m-left-5:not(img){
  display: inline-block;
}
.first-video .new-video-frame .video-extra-more.more-icon{
  display: inline-block;
}
.first-video .new-video-frame > .bg-white a h3{
  margin-top: 20px;
  font-size: 16px;
  max-height: none;
}
.home-more-views .video-playlist-home{
  padding-right: 0;
  padding-left: 7px;
}
@media screen and (max-width: 992px){
  .custom-top{
    margin-top: 10px;
    position: relative;
    left: 0;
    text-align: center;
  }
  .customImg-side-adv{margin-top: 10px;}
  .customImg-side-adv img{width: auto;margin: 0 auto;display: block}
  .m-bottom-35{margin-bottom: 0}
  .m-top-35 img{text-align: center}
  .all-videos {
    margin-top: 0px;
  }
}
@media screen and (max-width: 575px){
  .home-more-views .video-playlist-home{
    padding-left: 0;
  }
}
