<app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
<div *ngIf="!loading">
 <div class="rtl text-right">
   <div class="inline-block width100 m-bottom-20">
     <h3 class="m-right-15 inline-block top-text"><i class="fa fa-dollar"></i> ارباح المبدع</h3>
     <div class="pull-left gain">تحصيل</div>
   </div>
   <div class="row margin-0">
     <div class="relative col-md-4 col-sm-12">
       <div class="total-col">
           <div class="left-side">
             <i class="fa fa-dollar"></i>
             <h6>اجمالي الارباح</h6>
           </div>
           <div class="splitter"></div>
           <div class="right-side">{{revenue.revenue.total}}</div>
       </div>
     </div>

     <div class="relative col-md-4 col-sm-12">
       <div class="mobile-col">
           <div class="left-side">
             <i class="fa fa-mobile-phone"></i>
             <h6>ارباح الموبايل</h6>
           </div>
           <div class="splitter"></div>
           <div class="right-side">{{revenue.revenue.mobile }}</div>
       </div>
     </div>

     <div class="relative col-md-4 col-sm-12">
       <div class="lap-col">
         <div class="left-side">
           <i class="fa fa-laptop"></i>
           <h6>ارباح الحاسوب</h6>
         </div>
         <div class="splitter"></div>
         <div class="right-side">{{revenue.revenue.desktop }}</div>
       </div>
     </div>

     <div class="calendar-container">
       {{calendarOptions.events | json}}
       <div class="m-top-10 width100 inline-block">
         <div class="pull-right">
           <div class="left-side width100 text-center" style="width: 100%">
             <i class="fa fa-dollar"></i>
             <h6>{{revenue.revenue.desktop + revenue.revenue.mobile}}</h6>
           </div>
         </div>
         <div class="pull-left icons">
           <div class="pull-left text-center m-right-10">
             <i class="fa fa-laptop fa-3x"></i>
             <h6>حاسوب</h6>
           </div>
           <div class="pull-left text-center">
             <i class="fa fa-mobile-phone fa-3x"></i>
             <h6>موبايل</h6>
           </div>


         </div>
       </div>
       <div *ngIf="calendarOptions" class="">
         {{events}}
         <ng-fullcalendar #ucCalendar  (clickButton)="clickButton($event.detail)" [options]="calendarOptions"></ng-fullcalendar>
       </div>
     </div>


   </div>
 </div>
</div>
