.tab-container{
  direction: rtl;
  text-align: right;
}
:host ::ng-deep .nav-tabs{padding: 0;border-bottom: 0;}
:host ::ng-deep .nav-tabs li a{color: #7f7f7f;font-weight: 400;border: none}
:host ::ng-deep .nav-tabs li.active{}
:host ::ng-deep .nav-tabs li.active a{color: #ef4941;border: none;border-bottom: 1px solid #ef4941;font-weight: bold;background: none}
.video-playlist-home{margin-bottom: 20px;}
.category-span{position: absolute;top: 5px;right:15px;color: #fff;padding: 0 10px;font-size: 12px;background: #c8429d;z-index: 1}
.ترفيه{
  background: #c8429d;
}
.اخبار{
  background: #213f97;
}
.برامج{
  background: #fa1e1e;
}
.فن{
  background: #fdb300;
}
.رياضة{
  background: limegreen;
}
.video-playlist-home h3{
  font-size: 15px;
  margin-top: 2px;
  line-height: 21px;
  max-height: 42px;
  overflow: hidden;
  color: #7d7d7d;
  text-align: center;
}
.video-playlist-home a{color: #212529}
.fa-heart-o{
  color: red;
}
.video-date{direction: ltr !important;}
.player-icon {
  position: absolute;
  left: 1px;
  bottom: 0;
  background: red;
  color: #fff;
  padding: 4px 12px;
  font-size: 18px;
  line-height: 8px;
  border-radius: 3px;;
}
