.profile-info-holder {
  z-index: 1;
  user-select: none;
  .profile-pic{
    width: 50px;
    height:50px;
    border-radius: 50%;
  }
}
.profile-anchors{
  background: #ebebeb;
  position: absolute;
  z-index: 1;
  top:67px;
  width: 155px;
}
.list-group-item{
  background: transparent;
  padding-right: 5px;
  text-align: right;
}
.list-group-item li a{border:1px solid #eee  }
.list-group-item a img:first-of-type{
  display: inline;
}
.list-group-item a img:last-of-type{
  display: none;
}
.list-group-item a:hover img:first-of-type ,.list-group-item a.active-link img:first-of-type{
  display: none;
}
.list-group-item a:hover img:last-of-type , .list-group-item a.active-link img:last-of-type{
  display: inline;
}
.list-group-item a:hover , .list-group-item a:hover span ,
.list-group-item a.active-link, .list-group-item a.active-link span{
  text-decoration: none;
  color: #ee5e56;
}
.side-icons {
  text-align: center;
  text-decoration: none;
  img{
    margin: 0 auto;
  }
  .normal{
    display: block;
  }
  .hovered{
    display: none;
  }
  &:hover .hovered{
    display: block;
  }
  &:hover .normal{
    display: none;
  }
  span{font-weight: bold;font-size:17px;color: #333333}
  &:hover span{color:#ee4a41}
}
.active-link .normal{display: none}
.active-link .hovered{display: block}
.active-link span,.active-link{color:#ee4a41;}
.custom-side-icon img{margin-top: 6px;}
