<app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
<div class="relative pull-left" (clickOutside)="showAnchors=false" *ngIf="!loading">
  <div style="cursor: pointer;" class="profile-info-holder" (click)="showAnchors=!showAnchors;">
    <img src="../../../assets/images/down-direction.png">
    <span class="m-left-5 m-right-10 user-fullname">{{user.fullname}}</span>
    <img class="profile-pic" *ngIf="user.avatar && !user.avatar.includes('https')" src="{{staticEndpoint}}{{user.avatar}}">
    <img class="profile-pic" *ngIf="user.avatar && user.avatar.includes('https')" src="{{user.avatar}}">
  </div>
  <div *ngIf="showAnchors" class="profile-anchors">
      <ul class="list-group">
        <li class="list-group-item" *ngIf="user.is_creator == 1">
          <a class="black" routerLink="/settings" (click)="showAnchors=false" [queryParams]="{ tab: 'statistics' }" routerLinkActive="active-link">
            <span class="m-right-10">الاحصائيات</span>
            <img src="../../../assets/images/new-icons/statistics.png">
            <img src="../../../assets/images/new-icons/statistics.png">
          </a>
        </li>

        <li class="list-group-item">
          <a class="black" routerLink="/settings" (click)="showAnchors=false" [queryParams]="{ tab: 'favorites' }" routerLinkActive="active-link">
            <span class="m-right-10">المفضلات</span>
            <img src="../../../assets/images/new-icons/heart.png">
            <img src="../../../assets/images/new-icons/heart.png">
          </a>
        </li>

        <li class="list-group-item">
          <a class="black" routerLink="/settings" (click)="showAnchors=false" [queryParams]="{ tab: 'followers' }" routerLinkActive="active-link">
            <span class="m-right-10">المتابعات</span>
            <img src="../../../assets/images/new-icons/exit.png">
            <img src="../../../assets/images/new-icons/exit.png">
          </a>
        </li>


        <li class="list-group-item" *ngIf="user.is_creator == 1">
          <a class="black" routerLink="/settings" (click)="showAnchors=false" [queryParams]="{ tab: 'revenue' }" routerLinkActive="active-link">
            <span class="m-right-10">الارباح</span>
            <img src="../../../assets/images/new-icons/revenue.png">
            <img src="../../../assets/images/new-icons/revenue.png">
          </a>
        </li>

        <!--<li class="list-group-item" *ngIf="user.is_creator == 1">-->
          <!--<a class="black" routerLink="/settings" (click)="showAnchors=false" [queryParams]="{ tab: 'my-videos' }" routerLinkActive="active-link">-->
            <!--<span class="m-right-10">فيديوهاتي</span>-->
            <!--<img src="../../../assets/images/video-play-black.png">-->
            <!--<img src="../../../assets/images/video-play-hover.png">-->
          <!--</a>-->
        <!--</li>-->


        <li class="list-group-item">
          <a class="black" routerLink="/settings" (click)="showAnchors=false" [queryParams]="{ tab: 'profile' }" routerLinkActive="active-link">
            <span class="m-right-10">الاعدادات</span>
            <img src="../../../assets/images/new-icons/settings.png">
            <img src="../../../assets/images/new-icons/settings.png">
          </a>
        </li>

        <li class="list-group-item logout-link">
          <a class="black" (click)="logout($event);showAnchors=false;$event.preventDefault()" routerLink="/">
            <span class="m-right-10">تسجيل الخروج</span>
          </a>
        </li>
      </ul>
  </div>
</div>
<div class="float-left" *ngIf="user.is_creator == 1">
  <div class="float-left m-left-20 m-top-10">
    <a class="black side-icons" routerLink="/settings" [queryParams]="{tab: 'upload' }" routerLinkActive="active-link">
      <span class="orange">اضافة</span>
      <img class="normal" src="../../assets/images/new-icons/upload.png">
      <img class="hovered" src="../../assets/images/new-icons/upload.png">
    </a>
  </div>
  <div class="float-left m-left-20 m-top-10">
    <a class="black side-icons" routerLink="/settings" [queryParams]="{tab: 'statistics' }" routerLinkActive="active-link">
      <span>احصائيات</span>
      <img class="normal" src="../../assets/images/new-icons/statistics.png">
      <img class="hovered" src="../../assets/images/new-icons/statistics.png">
    </a>
  </div>

</div>
