<app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
<div class="relative pull-left" (clickOutside)="showAnchors=false" *ngIf="!loading">
  <div style="cursor: pointer;" class="profile-info-holder" (click)="showAnchors=!showAnchors;">
    <img src="../../../assets/images/down-direction.png">
    <span class="m-left-5 m-right-10">{{user.fullname}}</span>
    <img class="profile-pic" *ngIf="user.avatar && !user.avatar.includes('https')" src="{{staticEndpoint}}{{user.avatar}}">
    <img class="profile-pic" *ngIf="user.avatar && user.avatar.includes('https')" src="{{user.avatar}}">
  </div>
  <div *ngIf="showAnchors" class="profile-anchors">
      <ul class="list-group">
        <li class="list-group-item">
          <a class="black" routerLink="/settings" (click)="showAnchors=false" [queryParams]="{ tab: 'favorites' }" routerLinkActive="active-link">
            <span class="m-right-10">المفضلات</span>
            <img src="../../../assets/images/love.png">
            <img src="../../../assets/images/love-color.png">
          </a>
        </li>

        <li class="list-group-item">
          <a class="black" routerLink="/settings" (click)="showAnchors=false" [queryParams]="{ tab: 'followers' }" routerLinkActive="active-link">
            <span class="m-right-10">المتابعات</span>
            <img src="../../../assets/images/num_of_followers.png">
            <img src="../../../assets/images/num_of_followers_love.png">
          </a>
        </li>


        <li class="list-group-item" *ngIf="user.is_creator == 1">
          <a class="black" routerLink="/settings" (click)="showAnchors=false" [queryParams]="{ tab: 'revenue' }" routerLinkActive="active-link">
            <span class="m-right-10">الارباح</span>
            <img src="../../../assets/images/money.png">
            <img src="../../../assets/images/money-hover.png">
          </a>
        </li>


        <li class="list-group-item">
          <a class="black" routerLink="/settings" (click)="showAnchors=false" [queryParams]="{ tab: 'profile' }" routerLinkActive="active-link">
            <span class="m-right-10">الاعدادات</span>
            <img src="../../../assets/images/settings.png">
            <img src="../../../assets/images/settings-hover.png">
          </a>
        </li>

        <li class="list-group-item">
          <a class="black" (click)="logout($event);showAnchors=false;$event.preventDefault()" routerLink="/">
            <span class="m-right-10">تسجيل الخروج</span>
            <img src="../../../assets/images/logout.png">
            <img src="../../../assets/images/logout.png">
          </a>
        </li>
      </ul>
  </div>
</div>
<div class="float-left" *ngIf="user.is_creator == 1">
  <div class="float-left m-left-20">
    <a class="black side-icons" routerLink="/settings" [queryParams]="{tab: 'upload' }" routerLinkActive="active-link">
      <img class="normal" src="../../assets/images/upload-icon.png">
      <img class="hovered" src="../../assets/images/upload-icon-hover.png">
      <span>اضافة</span>
    </a>
  </div>
  <div class="float-left m-left-10">
    <a class="black side-icons" routerLink="/settings" [queryParams]="{tab: 'statistics' }" routerLinkActive="active-link">
      <img class="normal" src="../../assets/images/statistics-icon.png">
      <img class="hovered" src="../../assets/images/statistics-icon-hover.png">
      <span>احصائيات</span>
    </a>
  </div>
  <div class="float-left m-left-10">
    <a class="black side-icons custom-side-icon" routerLink="/message"  routerLinkActive="active-link">
      <img class="normal" src="../../assets/images/message-icon.png">
      <img class="hovered" src="../../assets/images/message-icon-hover.png">
      <span>الرسائل</span>
    </a>
  </div>
</div>
