<h5 class="titled_creator">
    <img src="../../../assets/images/statistics-icon.png">
    <span>إحصائيات المبدع</span>
</h5>
<app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
<div class="none top-statistics m-top-20">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-xl-5 col-md-12 col-12">
                <div id="regions_div" style="width: 290px; height: 300px;"></div>
            </div>
            <div class="col-xl-3 col-md-12 col-12">
                <div *ngIf="!loading">
                    <h6 class="titled-country">البلاد</h6>
                    <div class="width100 inline-block">
                        <div class="country-iterator" *ngFor="let country of countryList;let i=index">
                            <div *ngIf="i<4">
                                <p class="margin-0">{{country.name_ar}}</p>
                                <progressbar [animate]="true" max="{{highestCountry}}"
                                             [value]="country.value"></progressbar>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 col-12 relative">
                <div *ngIf="!loading && deviceList && deviceList.length > 0">
                    <h6 class="titled-country">الاجهزة</h6>
                    <div class="total-device">
                        <div class="visitor-number">{{totalDeviceVisitors}}</div>
                        <h6>زائر</h6>
                    </div>
                    <ngx-charts-pie-chart [view]="[150,150]" [scheme]="deviceColorScheme" [arcWidth]=".1"
                                          [results]="deviceList" [doughnut]="true"></ngx-charts-pie-chart>
                    <div class="device-details">
                        <div *ngFor="let device of deviceList">
                            <div *ngIf="device.name=='Desktop'">
                                <div class="device-img-container">
                                    <img src="../../../assets/images/computer-chart.png">
                                </div>
                                <span class="device-span">الحاسوب</span>
                                <span class="computer-span">{{device.value}}</span>
                            </div>
                            <div *ngIf="device.name=='Mobile'">
                                <div class="device-img-container">
                                    <img src="../../../assets/images/mobile-chart.png">
                                </div>
                                <span class="device-span">الموبايل</span>
                                <span class="mobile-span">{{device.value}}</span>
                            </div>
                            <div *ngIf="device.name=='Tablet'">
                                <div class="device-img-container">
                                    <img src="../../../assets/images/tablet-chart.png">
                                </div>
                                <span class="device-span">التابلت</span>
                                <span class="tablet-span">{{device.value}}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="bottom-statistics m-top-20">
    <div class="col-lg-12" *ngIf="!loading">
        <div class="row">
            <div class="col-xl-12 white-bg col-md-12 col-12 text-left direction-ltr m-bottom-20 parent-holder">
                <h4 class="text-center m-top-20 m-bottom-20">معدلات الزيارة اليومية</h4>
                <div class="parent">
                    <ngx-charts-bar-vertical
                            [scheme]="weeksColorScheme"
                            [results]="daysList"
                            [xAxis]="true"
                            [yAxis]="true"
                            [barPadding]="20"
                            (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                </div>

            </div>
            <div class="col-xl-12 col-md-12 col-12 text-left dark-bg direction-ltr parent-holder">
                <h4 class="text-white text-center m-top-20 m-bottom-20">معدلات الزيارة الشهرية</h4>
                <div class="parent-area-chart">
                    <ngx-charts-area-chart
                            [scheme]="'nightLights'"
                            [gradient]="true"
                            [showGridLines]="false"
                            [xAxis]="true"
                            [yAxis]="true"
                            [curve]="curve"
                            [results]="monthList">
                    </ngx-charts-area-chart>
                </div>

            </div>

        </div>
    </div>
</div>

