.titled_creator{
  span{
    font-weight: bold;
    position: relative;
    top: 8px;
    margin-right: 10px;
  }
  img{
    margin-right: 20px;
  }
}
.top-statistics{
  background: #1f2840;
  min-height: 300px;
  color: #fff;
}
.titled-country{
  margin-bottom: 40px;
  margin-top:30px;
  color: #95a0be;
}
.country-list {
  position: absolute;
  top: 40px;
  right: 40px;
  color: #95a0be;
  div{
    padding : 20px 0;
  }
}

.total-device {
  position: absolute;
  right: 46px;
  width: 90px;
  top: 130px;
  color: #95a0be;
  text-align: center;
  font-weight: lighter;
  .visitor-number{
    font-size: 35px;
  }
  h6{font-size:22px;position: relative;top:-14px;}
}
.device-details {
  position: absolute;
  right: 150px;
  top: 110px;
}
.device-details > div{margin-bottom: 15px;}
.device-img-container{
  width: 25px ;
  text-align: center;
  display: inline-block;
}
.device-span {
  margin-right: 5px;
  margin-left: 5px;
  width: 70px;
  display: inline-block;
  color: #697eb2;
}
.computer-span{color: rgb(79, 189, 131);}
.mobile-span{color: rgb(27, 129, 216);}
.tablet-span{color: rgb(208, 12, 141);}
.progress{
  background: transparent;
  border-radius: 0;
  height: 7px;
}
:host ::ng-deep .country-iterator:nth-of-type(1) .progress-bar{
  background: #36569f;
}
:host ::ng-deep .country-iterator:nth-of-type(2) .progress-bar{
  background: #909ab0;
}
:host ::ng-deep .country-iterator:nth-of-type(3) .progress-bar{
  background: #5472b5;
}
:host ::ng-deep .country-iterator:nth-of-type(4) .progress-bar{
  background: #8ed0ad;
}
.country-iterator{margin-bottom: 10px;}
.country-iterator p {color: #697eb2}
:host ::ng-deep text {
  //font-size: 8px !important;
  transform: rotate(0) !important;
  //position: relative;
  //transform: translateX(-19px) !important;
}
.white-bg{background: #ffffff}
.padding-right-10{padding-right: 10px;}
.dark-bg{background: #1f2840;}
//:host ::ng-deep .dark-bg{overflow: auto}
:host ::ng-deep .dark-bg  text{fill: #ffffff}
:host ::ng-deep .dark-bg .area-chart{
  //transform: translateY(0);
}

.parent{ display: grid; width: 100%;height: 400px;min-width: 500px;}
.parent-area-chart{ display: grid; width: 100%;height: 400px;min-width: 500px;}
@media screen and (max-width: 1200px){
  #regions_div{margin: 0 auto}
  .device-details{left: 10px;right: auto;}
}
@media screen and (max-width: 768px){
  .parent-holder{overflow: auto}
  :host ::ng-deep .dark-bg{overflow: auto}
  :host ::ng-deep .dark-bg .area-chart{}
}
