$Helvetica_eot_font_path: "assets/fonts/HelveticaNeueW23forSKY-Bd_T02.eot";
$Helvetica_woff_font_path: "assets/fonts/HelveticaNeueMEforSKYW21-Lt_web.woff";
$Helvetica_ttf_font_path: "assets/fonts/HelveticaNeueMEforSKYW21-Lt_web.ttf";
$Helvetica_svg_font_path: "assets/fonts/HelveticaNeueW23forSKY-Bd_T02.svg";
$font-family-brand: 'Helvetica';
@import "~fullcalendar/dist/fullcalendar.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/circles/circles-dark-theme';



@font-face {
  font-family:$font-family-brand;
  src:url($Helvetica_eot_font_path) format("eot"),
  url($Helvetica_woff_font_path) format("woff"),
  url($Helvetica_ttf_font_path) format("truetype"),
  url($Helvetica_svg_font_path) format("svg");
  font-weight:normal;
  font-style:normal;
}
body , html{
  font-family:$font-family-brand !important;
  background: #f0f3f7 !important;
  position: relative;
}
html{
  height: 100%;
}
body{
  padding-top: 100px;
  position: relative;
  padding-bottom: 90px;
  min-height: 100%;
}
.m-bottom-5{margin-bottom: 5px;}
.m-bottom-10{margin-bottom: 10px;}
.m-bottom-15{margin-bottom: 15px;}
.m-bottom-20{margin-bottom: 20px;}
.m-bottom-25{margin-bottom: 25px;}
.m-bottom-30{margin-bottom: 30px;}
.m-bottom-35{margin-bottom: 35px;}

.m-top-5{margin-top: 5px;}
.m-top-10{margin-top: 10px;}
.m-top-15{margin-top: 15px;}
.m-top-20{margin-top: 20px;}
.m-top-25{margin-top: 25px;}
.m-top-30{margin-top: 30px;}
.m-top-35{margin-top: 35px;}


.m-left-5{margin-left: 5px;}
.m-left-10{margin-left: 10px;}
.m-left-15{margin-left: 15px;}
.m-left-20{margin-left: 20px;}
.m-left-25{margin-left: 25px;}
.m-left-30{margin-left: 30px;}
.m-left-35{margin-left: 35px;}

.m-right-5{margin-right: 5px;}
.m-right-10{margin-right: 10px;}
.m-right-15{margin-right: 15px;}
.m-right-20{margin-right: 20px;}
.m-right-25{margin-right: 25px;}
.m-right-30{margin-right: 30px;}
.m-right-35{margin-right: 35px;}

.margin-0{margin: 0 !important;}
.padding-0{padding: 0 !important;}
.block{display: block}
.none{display: none}
.inline-block{display: inline-block}
.mouse-click{
  cursor: pointer;
}
.loading{
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.relative{position: relative}
.image-container img{width: 100%}
.direction-ltr{direction: ltr}
.max-width-100{max-width: 100%}
.rtl{direction: rtl}
.thin{font-weight: lighter}
.bold{font-weight: bold}
.text-right{text-align: right}
.width100{width: 100%;}
.normal-weight{font-weight: normal}
.black{color: black}
.bottom-border{
  border-bottom: 1px solid #cac9c9;
}
label {
  color: #848484;
}
.form-control:focus {
  border-color: #e4e4e4 !important;
  box-shadow: 0 0 0 0.2rem rgba(222, 222, 222, 0.25) !important;;
}
.form-control::-webkit-input-placeholder { color: #d4d4d4 !important; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #d4d4d4 !important; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #d4d4d4 !important; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #d4d4d4 !important; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #d4d4d4 !important; }  /* Microsoft Edge */
.form-control.ng-touched.ng-invalid:not(form)  {
  border-left: 5px solid #a94442 !important; /* red */
  border-color: #a94442 !important;
}
.form-control.ng-touched.ng-valid[required], .form-control.ng-touched.ng-valid.required:not(form)  {
  border-left: 5px solid #42A948 !important; /* green */
  border-color: #42A948 !important;
}
.form-check{padding-right: 1.25rem; padding-left: 0 !important;}
.form-check-input{margin-left:0 !important;margin-right: -1.25rem;}

.video-playlist-home{margin-bottom: 20px;}
.category-span{position: absolute;top: 5px;right:15px;color: #fff;padding: 0 10px;font-size: 12px;background: #c8429d;z-index: 1;line-height: 17px;}
.ترفيه{
  background: #c8429d;
}
.اخبار{
  background: #213f97;
}
.برامج{
  background: #fa1e1e;
}
.فن{
  background: #fdb300;
}
.أخبار{
  background: #1f377d;
}
.رياضة{
  background: limegreen;
}
.المسلسلات{
  background: #c8429d;
}

.video-playlist-home h3{
  font-size: 15px;
  margin-top: 2px;
  line-height: 21px;
  max-height: 42px;
  min-height: 42px;
  overflow: hidden;
  color: #080808;
  font-weight: 400;
  text-align: right;
}
.video-playlist-home a{color: #212529}
.video-playlist-home a:hover{color: #212529;text-decoration: none}
.fa-heart-o , .fa-heart{
  color: red;
}

.fa-heart
.video-likes {
  max-width: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  direction: ltr;
}
.video-date{direction: ltr !important;color: #171717}
.player-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ef423c;
  color: #fff;
  padding: 4px 12px;
  font-size: 18px;
  line-height: 8px;
  border-radius: 0;
}

.user-select-none{
  user-select: none;
}
.img-container img{
  width: 100%;
}
a.black{color: black !important;}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-left: 5px solid #a94442 !important;
  border: 1px solid #a94442 !important;
}
.mid-ad img{width: 768px;max-width: 100%}

app-side-menu{
  width: inherit;
  max-width: inherit;
}
.padding-right-left-5{padding: 0 5px;}
.padding-right-left-10{padding: 0 10px;}
.new-video-frame{
  > .bg-white{
    border-radius: 8px;
  }
  > .bg-white a {
    background: #fff;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    .image-container{
      position: relative;
    }
    .image-container:before{
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.35);
      position: absolute;
    }
    .image-container:after{
      content: "";
      top: 38%;
      background: url('./assets/images/new-icons/play.png');
      width: 45px;
      height: 45px;
      background-size: 100% 100%;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
    }
    .image-container img{
      //border-top-left-radius: 5px;
      //border-top-right-radius: 5px;
    }
    h3{
      font-size: 14px;
      margin-top: 15px;
      line-height: 21px;
      max-height: 42px;
      min-height: 42px;
      font-weight: bold;
      display: block;
    }
    .time-ago{
      float: left;
      font-size: 11px;
      color: #9a9a9a;
      margin-right: 5px;
      margin-top: 5px;
      font-weight: bold;
    }
  }
  .video-extra{
    padding: 5px;
    border-radius: 5px;
    background: #dde1e7;
    border: 2px solid #dde1e7;
    margin-left: 10px;
    margin-top: 10px;
    color: #4a4a4a;
    font-weight: 600;
    font-size: 14px;
    img{
      width: 20px;
    }
    &.side-view{
      background: #fff !important;
    }
    .m-right-5.m-left-5:not(img){display: none}
  }
  .video-extra-more{
    position: relative;
    top: 15px;
    img{
      width: 20px;
    }
    //&.float-left/display: none}
  }
  .top-video-creator-section{
    padding-top: 3px;
    img{
      width: 37px;
      height: 37px;
      border-radius: 50%;
    }
  }
  .follow-holder{
    border: 1px solid #c14948;
    padding: 3px 5px;
    margin-top: 8px;
    color: #c14948;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
    img{
      width: 20px;
      margin-left: 10px;
    }
    &:hover{
      background: #c14948;
      color: #fff;
    }
  }
}
.padding-right-0{padding-right: 0 !important;}
.padding-left-0{padding-left: 0 !important;}
.new-creator-item{
  position: relative;
  border-radius: 3px;
  box-shadow: 2px 3px 10px 2px #2b3465;
  &.no-shadow{box-shadow:none}
  .follow-holder {
    border: 1px solid #c14948;
    padding: 3px 5px;
    margin-top: 8px;
    color: #c14948;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
    img {
      width: 20px;
      margin-left: 10px;
    }
    &:hover {
      background: #c14948;
      color: #fff;
    }
  }
  .padding-right-0{
    img{
      width: 100%;
      height: 100%;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .thin-color{color: #9c9c9c}
  .extra-creator-details{
    margin-top:40px;
    border-top: 1px solid #eee;
    margin-bottom: 5px;
    padding-top: 10px;
    img{width: 15px;}
  }
}
.border-top-1{border-top:1px solid #eee;padding-top: 10px;}
.pointer{cursor: pointer;user-select: none}
.share {
  position: absolute;
  top: 37px;
  text-align: left;
  width: 320px;
  right: -100px;
  z-index: 1;
}
.share-area {
  a{
    display: block;
    border-bottom: 1px solid #f2f2f2;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 992px) {
  body{padding-top: 65px;}
}

/* adnan */
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon{
  padding-left: 5px !important;
  padding-right: 0px !important;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  margin-right: 0 !important;
  margin-left: .4375em !important;
}
.border-radius{
  border-radius: 5px;
}
.progress-bar.progress-bar-success{
  color: #0b125e !important;
}
.progress.ng-star-inserted {
  height: 1.3rem !important;
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -111%;
  left: -30px;
  background: url('assets/images/new-icons/heart-bg.png') no-repeat;
  background-position: 0 0;
  cursor: pointer;
  //animation: fave-heart 1s steps(28);
}
.heart.liked {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
.custom-padding-left{
  padding-left: 48px !important;
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
