$GE_SS_eot_font_path: "assets/fonts/GE_SS_Two_Light.eot";
$GE_SS_woff_font_path: "assets/fonts/GE_SS_Two_Light.woff";
$GE_SS_ttf_font_path: "assets/fonts/GE_SS_Two_Light.ttf";
$GE_SS_svg_font_path: "assets/fonts/GE_SS_Two_Light.svg#GESSTwoLight-Light";
$font-family-brand: 'GE_SS';

@font-face {
  font-family:$font-family-brand;
  src:url($GE_SS_eot_font_path) format("eot"),
  url($GE_SS_woff_font_path) format("woff"),
  url($GE_SS_ttf_font_path) format("truetype"),
  url($GE_SS_svg_font_path) format("svg");
  font-weight:normal;
  font-style:normal;
}
body , html{
  font-family:$font-family-brand;
  background: #dddddd !important;
}
.m-bottom-5{margin-bottom: 5px;}
.m-bottom-10{margin-bottom: 10px;}
.m-bottom-15{margin-bottom: 15px;}
.m-bottom-20{margin-bottom: 20px;}
.m-bottom-25{margin-bottom: 25px;}
.m-bottom-30{margin-bottom: 30px;}
.m-bottom-35{margin-bottom: 35px;}

.m-top-5{margin-top: 5px;}
.m-top-10{margin-top: 10px;}
.m-top-15{margin-top: 15px;}
.m-top-20{margin-top: 20px;}
.m-top-25{margin-top: 25px;}
.m-top-30{margin-top: 30px;}
.m-top-35{margin-top: 35px;}


.m-left-5{margin-left: 5px;}
.m-left-10{margin-left: 10px;}
.m-left-15{margin-left: 15px;}
.m-left-20{margin-left: 20px;}
.m-left-25{margin-left: 25px;}
.m-left-30{margin-left: 30px;}
.m-left-35{margin-left: 35px;}

.m-right-5{margin-right: 5px;}
.m-right-10{margin-right: 10px;}
.m-right-15{margin-right: 15px;}
.m-right-20{margin-right: 20px;}
.m-right-25{margin-right: 25px;}
.m-right-30{margin-right: 30px;}
.m-right-35{margin-right: 35px;}

.margin-0{margin: 0 !important;}
.padding-0{padding: 0 !important;}
.block{display: block}
.none{display: none}
.inline-block{display: inline-block}

.loading{
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.relative{position: relative}
.image-container img{max-width: 100%}
.direction-ltr{direction: ltr}
.max-width-100{max-width: 100%}
.rtl{direction: rtl}
.thin{font-weight: lighter}
.bold{font-weight: bold}
.text-right{text-align: right}
.width100{width: 100%;}
.bottom-border{
  border-bottom: 1px solid #cac9c9;
}
label {
  color: #848484;
}
.form-control:focus {
  border-color: #e4e4e4 !important;
  box-shadow: 0 0 0 0.2rem rgba(222, 222, 222, 0.25) !important;;
}
.form-control::-webkit-input-placeholder { color: #d4d4d4 !important; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #d4d4d4 !important; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #d4d4d4 !important; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #d4d4d4 !important; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #d4d4d4 !important; }  /* Microsoft Edge */
.form-control.ng-touched.ng-invalid:not(form)  {
  border-left: 5px solid #a94442 !important; /* red */
  border-color: #a94442 !important;
}


.video-playlist-home{margin-bottom: 20px;}
.category-span{position: absolute;top: 5px;right:15px;color: #fff;padding: 0 10px;font-size: 12px;background: #c8429d;z-index: 1}
.ترفيه{
  background: #c8429d;
}
.اخبار{
  background: #213f97;
}
.برامج{
  background: #fa1e1e;
}
.فن{
  background: #fdb300;
}
.رياضة{
  background: limegreen;
}
.video-playlist-home h3{
  font-size: 15px;
  margin-top: 2px;
  line-height: 21px;
  max-height: 42px;
  overflow: hidden;
  color: #7d7d7d;
  text-align: right;
}
.video-playlist-home a{color: #212529}
.video-playlist-home a:hover{color: #212529;text-decoration: none}
.fa-heart-o{
  color: red;
}
.video-likes {
  max-width: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  direction: ltr;
}
.video-date{direction: ltr !important;color: #171717}
.player-icon {
  position: absolute;
  left: 1px;
  bottom: 0;
  background: red;
  color: #fff;
  padding: 4px 12px;
  font-size: 18px;
  line-height: 8px;
  border-radius: 3px;;
}
