$GE_SS_eot_font_path: "assets/fonts/GE_SS_Two_Light.eot";
$GE_SS_woff_font_path: "assets/fonts/GE_SS_Two_Light.woff";
$GE_SS_ttf_font_path: "assets/fonts/GE_SS_Two_Light.ttf";
$GE_SS_svg_font_path: "assets/fonts/GE_SS_Two_Light.svg#GESSTwoLight-Light";
$font-family-brand: 'GE_SS';

@font-face {
  font-family:$font-family-brand;
  src:url($GE_SS_eot_font_path) format("eot"),
  url($GE_SS_woff_font_path) format("woff"),
  url($GE_SS_ttf_font_path) format("truetype"),
  url($GE_SS_svg_font_path) format("svg");
  font-weight:normal;
  font-style:normal;
}
body , html{
  font-family:$font-family-brand;
}
.m-bottom-5{margin-bottom: 5px;}
.m-bottom-10{margin-bottom: 10px;}
.m-bottom-15{margin-bottom: 15px;}
.m-bottom-20{margin-bottom: 20px;}
.m-bottom-25{margin-bottom: 25px;}
.m-bottom-30{margin-bottom: 30px;}
.m-bottom-35{margin-bottom: 35px;}

.m-top-5{margin-top: 5px;}
.m-top-10{margin-top: 10px;}
.m-top-15{margin-top: 15px;}
.m-top-20{margin-top: 20px;}
.m-top-25{margin-top: 25px;}
.m-top-30{margin-top: 30px;}
.m-top-35{margin-top: 35px;}


.m-left-5{margin-left: 5px;}
.m-left-10{margin-left: 10px;}
.m-left-15{margin-left: 15px;}
.m-left-20{margin-left: 20px;}
.m-left-25{margin-left: 25px;}
.m-left-30{margin-left: 30px;}
.m-left-35{margin-left: 35px;}

.m-right-5{margin-right: 5px;}
.m-right-10{margin-right: 10px;}
.m-right-15{margin-right: 15px;}
.m-right-20{margin-right: 20px;}
.m-right-25{margin-right: 25px;}
.m-right-30{margin-right: 30px;}
.m-right-35{margin-right: 35px;}

.margin-0{margin: 0 !important;}
.padding-0{padding: 0 !important;}
.block{display: block}
.none{display: none}
.inline-block{display: inline-block}

.loading{
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
