<div class="row margin-0">
  <div class="col col-lg-2">
    <div class="m-top-35">
      <img class="max-width-100" src="./assets/images/test-image.png">
    </div>
  </div>
  <div class="col col-lg-8 col-xs-12" id="main">
      <app-home-videos></app-home-videos>
  </div>
  <div class="col col-lg-2">
    <app-side-menu></app-side-menu>
  </div>
</div>
<div class="row margin-0">
  <div class="col col-lg-10 col-xs-12 text-center m-top-10 m-bottom-10  mid-ad">
    <img src="./assets/images/ad.png">
  </div>
  <div class="col col-lg-2"></div>
</div>
<div class="">
  <app-home-creator></app-home-creator>
</div>
