//#main{background: #f7f7f7;padding: 0px 10px;}

.category-span{right: 0px}
.top-image{
  margin-top: 210px;
}
@media screen and (max-width: 992px){
  .top-image{margin-top: 10px;text-align: center}
}
