<div class="row margin-0">
    <div class="col-12 col-lg-2">
        <div class="m-top-35 m-bottom-10 top-image">
            <img class="max-width-100" src="./assets/images/test-image.png">
        </div>
    </div>
    <div class="col-12 col-xl-8 col-lg-7 col-xs-12">
        <div class="row">
            <div class="col-12 col-lg-12 col-xs-12 text-center m-bottom-20  mid-ad">
                <img src="./assets/images/ad.png">
            </div>
            <div class="col col-lg-2"></div>
        </div>
        <div id="main">
            <app-home-videos></app-home-videos>
        </div>

    </div>
    <div class="col col-xl-2 col-lg-3">
        <app-side-menu></app-side-menu>
    </div>
</div>
<div class="row margin-0">
    <div class="col-lg-2"></div>
    <div class="col-12 col-lg-7 col-xl-8 col-xs-12 text-center m-top-10 m-bottom-10  mid-ad">
        <img src="./assets/images/ad.png">
    </div>
    <div class="col col-lg-2"></div>
</div>
<div class="">
    <app-home-creator></app-home-creator>
</div>
<div class="rtl text-right">
    <app-more-views></app-more-views>
</div>
<div class="rtl text-right">
    <app-recommended-videos></app-recommended-videos>
</div>
<div class="row margin-0">
    <div class="col-lg-2"></div>
    <div class="col-12 col-lg-7 col-xl-8 col-xs-12 text-center m-top-10 m-bottom-10  mid-ad">
        <img src="../../assets/images/ad.png">
    </div>
    <div class="col col-lg-2"></div>
</div>
