.video-header{
  border-bottom: 1px solid #b8c4d0;
  display: inline-block;
  padding-bottom: 9px;
  padding-right: 5px;
  padding-left: 15px;
  color: #485050;
}
.form-group .video-header {
  font-size: 12px;
  padding-left: 35px;
  padding-bottom: 11px;
}
.form-group p {
  font-size: 11px;
  color: #585555;
  font-weight: 400;
}
.btn.btn-success {
  background: #3c92d7 !important;
  border : 1px solid #3c92d7 !important;
  border-radius: 0;
  padding: 2px 30px;
  font-weight: bold;
  box-shadow: none;
}
.white-bg{background-color: #fff}
