$Helvetica_eot_font_path: "/assets/fonts/HelveticaNeueW23forSKY-Bd_T02.eot";
$Helvetica_woff_font_path: "/assets/fonts/HelveticaNeueMEforSKYW21-Lt_web.woff";
$Helvetica_ttf_font_path: "/assets/fonts/HelveticaNeueMEforSKYW21-Lt_web.ttf";
$Helvetica_svg_font_path: "/assets/fonts/HelveticaNeueW23forSKY-Bd_T02.svg";
$font-family-brand: 'Helvetica';
@import "~fullcalendar/dist/fullcalendar.css";
@import "~@ng-select/ng-select/themes/material.theme.css";



@font-face {
  font-family:$font-family-brand;
  src:url($Helvetica_eot_font_path) format("eot"),
  url($Helvetica_woff_font_path) format("woff"),
  url($Helvetica_ttf_font_path) format("truetype"),
  url($Helvetica_svg_font_path) format("svg");
  font-weight:normal;
  font-style:normal;
}
.video-header{
  border-bottom: 1px solid #b8c4d0;
  display: inline-block;
  padding-bottom: 9px;
  padding-right: 5px;
  padding-left: 15px;
  color: #485050;
}
.form-group .video-header {
  font-size: 12px;
  padding-left: 35px;
  padding-bottom: 11px;
  /* adnan */
  font-weight: bold;
}
/* adnan */
.ng-star-inserted{
  text-align:right !important;
}
.form-group p {
  font-size: 11px;
  color: #585555;
  font-weight: 400;
}
.btn.btn-success {
  background: #3c92d7 !important;
  border : 1px solid #3c92d7 !important;
  border-radius: 0;
  padding: 2px 30px;
  font-weight: bold;
  box-shadow: none;
}
.white-bg{background-color: #fff}
:host ::ng-deep .ng2-tag-input__text-input ,:host ::ng-deep .ng2-tag-input{
  font-family:$font-family-brand !important;
}
:host ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  text-align: right;
}
:host ::ng-deep .ng2-tag-input__text-input , :host ::ng-deep tag{
  font-family: $font-family-brand !important;
}
.ruler {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}
.ruler::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background: #000;
  left: 0;
  top: 15px;
}
.ruler::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background: #000;
  right: 0;
  top: 15px;
}
.close-icon {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: #fff;
  line-height: 30px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.close-icon::before{
  text-align: center;
  display: block;
}
