$GE_SS_eot_font_path: "/assets/fonts/GE_SS_Two_Light.eot";
$GE_SS_woff_font_path: "/assets/fonts/GE_SS_Two_Light.woff";
$GE_SS_ttf_font_path: "/assets/fonts/GE_SS_Two_Light.ttf";
$GE_SS_svg_font_path: "/assets/fonts/GE_SS_Two_Light.svg#GESSTwoLight-Light";
$font-family-brand: 'GE_SS';

@font-face {
  font-family:$font-family-brand;
  src:url($GE_SS_eot_font_path) format("eot"),
  url($GE_SS_woff_font_path) format("woff"),
  url($GE_SS_ttf_font_path) format("truetype"),
  url($GE_SS_svg_font_path) format("svg");
  font-weight:normal;
  font-style:normal;
}
.video-header{
  border-bottom: 1px solid #b8c4d0;
  display: inline-block;
  padding-bottom: 9px;
  padding-right: 5px;
  padding-left: 15px;
  color: #485050;
}
.form-group .video-header {
  font-size: 12px;
  padding-left: 35px;
  padding-bottom: 11px;
}
.form-group p {
  font-size: 11px;
  color: #585555;
  font-weight: 400;
}
.btn.btn-success {
  background: #3c92d7 !important;
  border : 1px solid #3c92d7 !important;
  border-radius: 0;
  padding: 2px 30px;
  font-weight: bold;
  box-shadow: none;
}
.white-bg{background-color: #fff}
:host ::ng-deep .ng2-tag-input__text-input ,:host ::ng-deep .ng2-tag-input{
  font-family:$font-family-brand !important;
}
:host ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  text-align: right;
}
