.signup {
  background: #fff;
  margin-top: 90px;
}
.signup-side-title {
  color: #3d5fc1;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}
.signup-side-main-desc {
  font-weight: bold;
  color: #717070;
  font-size: 13px;
  margin-bottom: 5px;
}
.signup-side-small-desc {
  color: #717070;
  font-size: 11px;
}
.breaker {
  position: absolute;
  height: 80%;
  width: 2px;
  background: #ababab;
  top: 15%;
  left: 0;
}
.sign-as-creator-info a {
  color: #868686 !important;
  font-weight: bold;
}

