<div class="container">
  <div class="m-top-30 m-bottom-35 offset-md-3 col-12 col-md-8 offset-lg-3 col-lg-6 relative rtl text-right signup">
    <div class="row">
      <div class="col-12 col-md-4">
        <img class="width100 m-top-35 m-bottom-10" src="./assets/images/innovation.png">

        <p class="signup-side-main-desc">لاسترجاع كلمة السر الخاصة بك</p>
        <p class="signup-side-small-desc">من فضلك ادخل كلمة السر الجديدة</p>
        <div class="breaker"></div>
      </div>
      <div class="col-12 col-md-8 m-top-35">
        <form #verifyCodeForm="ngForm" novalidate (ngSubmit)="onFormSubmit(verifyCodeForm)" autocomplete="off" class="m-top-20">
          <div class="form-group">
            <label for="password" >كلمة السر</label>
            <input (keyup)="check_password($event)" id="password" name="password" type="password" minlength="8" autocomplete=”off” [(ngModel)]="user.password" required class="form-control" placeholder="كلمة السر">
          </div>

          <div class="form-group">
            <label for="password_confirmation" >اعادة كلمة السر</label>
            <input (keyup)="check_password($event)" id="password_confirmation" name="password_confirmation" type="password" minlength="8" autocomplete=”off” [(ngModel)]="user.password_confirmation" required class="form-control" placeholder="اعادة كلمة السر">
          </div>

          <div *ngIf="!validatePassword && user.password && user.password_confirmation" class="alert alert-danger">
            كلمة السر غير متطابقة
          </div>

          <app-loading [error]="error" [loading]="loading" class="width100 block"></app-loading>
          <button
            type="submit"
            class="btn block width100 btn-danger m-bottom-20"
            [disabled]="!verifyCodeForm.form.valid || !validatePassword || loading">ارسل</button>

        </form>

      </div>
    </div>
  </div>
</div>
